{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://finap.com.ua:9443",
      "description": "Основний"
    },
    {
      "url": "https://res1.finap.com.ua:9443",
      "description": "Резерв"
    },
    {
      "url": "https://res2.finap.com.ua:9443",
      "description": "Резерв"
    },
    {
      "url": "https://res3.finap.com.ua:9443",
      "description": "Резерв"
    }
  ],
  "security": [
    {
      "tokken": [], 
      "IDsubjectFM" : []
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "summary": "CheckLists",
        "description": "Повертає результат з реєстрів CheckLists",
        "parameters": [
          {
            "name": "listdata",
            "in": "query",
            "description": "Число, кожен біт якого при переведенні у двійковий формат визначає перелік баз (списків) у яких має здійснюватися пошук (або сума чисел, які відповідають пошуковим спискам)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Прізвище, ім'я, по-батькові або назва",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namelat",
            "in": "query",
            "description": "Прізвище, ім'я, по-батькові або назва у латиниці. За замовчуванням генерується із поля name за результатами роботи алгоритму транслітерації",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipn",
            "in": "query",
            "description": "Індивідуальний податковий номер фізичної особи - резидента (більшість реєстрів не містять даних про РНОКПП), або ЄДРПОУ юридичної особи резидента",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Дата народження фізичної особи у форматі “YYYY-MM-DD”",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "doc",
            "in": "query",
            "description": "Реквізити документа фізичної особи (національний пасторт, ID картка або паспорт для виїзду за кордон) у форматі серія і номер, або просто номер (якщо ID карта). Наявність або відсутність пробілу між серією і номером значення не має.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "doctype",
            "in": "query",
            "description": "Тип документу. Може приймати значення 1 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ в тому числі і ID карти), 2 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ ДЛЯ ВИЇЗДУ ЗА КОРДОН), 0 – обидва варіанти. За замовчуванням – 0",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Метод пошуку збігів по реєстрам (1 — повнотекстний (за замовчуванням), 2 — з корекцією помилок). За замовчуванням – 1",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "lowranklimit",
            "in": "query",
            "description": "Число, що визначає нижню межу співпадінь назви чи ПІБ у відсотках",
            "schema": {
              "type": "number",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успішна відповідь",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Success"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "CheckLists",
        "description": "Повертає результат з реєстрів CheckLists",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успішна відповідь",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "4XX": {
            "description": "Помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PostRequest": {
        "required": [
          "tokken",
          "IDsubjectFM"
        ],
        "type": "object",
        "properties": {
          "tokken" : {
            "description": "Унікальний ключ користувача суб’єкта ФМ (надається при реєстрації суб’єкта ФМ в ПК 'FinAP CheckLists'). Приходить на електронну пошту відповідальної особи",
            "type": "string"
          },
          "IDsubjectFM" : {
            "description": "ID суб’єкта ФМ (присвоюється при реєстрації суб’єкта ФМ в ПК 'FinAP CheckLists'). Приходить на електронну пошту відповідальної особи",
            "type": "string"
          },
          "listdata" :{
            "description": "Число, кожен біт якого при переведенні у двійковий формат визначає перелік баз (списків) у яких має здійснюватися пошук (або сума чисел, які відповідають пошуковим спискам).",
            "type": "number"
          },
          "name" : {
            "description": "Прізвище, ім'я, по-батькові або назва",
            "type": "string"
          },
          "namelat" : {
            "description": "Прізвище, ім'я, по-батькові або назва у латиниці. За замовчуванням генерується із поля name за результатами роботи алгоритму транслітерації",
            "type": "string"
          },
          "ipn" : {
            "description": "Індивідуальний податковий номер фізичної особи - резидента (більшість реєстрів не містять даних про РНОКПП), або ЄДРПОУ юридичної особи резидента",
            "type": "string"
          },
          "date" : {
            "description": "Дата народження фізичної особи у форматі “YYYY-MM-DD”",
            "type": "date"
          },
          "doc" : {
            "description": "Реквізити документа фізичної особи (національний пасторт, ID картка або паспорт для виїзду за кордон) у форматі серія і номер, або просто номер (якщо ID карта). Наявність або відсутність пробілу між серією і номером значення не має.",
            "type": "string"
          },
          "doctype" : {
            "description": "Тип документу. Може приймати значення 1 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ в тому числі і ID карти), 2 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ ДЛЯ ВИЇЗДУ ЗА КОРДОН), 0 – обидва варіанти. За замовчуванням – 0",
            "type": "number"
          },
          "search" : {
            "description": "Метод пошуку збігів по реєстрам (1 — повнотекстний (за замовчуванням), 2 — з корекцією помилок). За замовчуванням – 1",
            "type": "number"
          },
          "lowranklimit": {
            "description": "Число, що визначає нижню межу співпадінь назви чи ПІБ у відсотках",
            "type": "number"
          }
        }
      },
      "Success": {
        "$schema": "http://json-schema.org/draft-07/schema#",
        "$id": "https://check.finap.com.ua/apiinfo/schema/v1/RequestSchema.json",
        "type": "object",
        "title": "CheckLists Response",
        "description": "Схема відповіді на запит до сервісу CheckLists",
        "properties": {
            "idinternal": {
                "$id": "#/properties/idinternal",
                "type": "string",
                "title": "Внутрішній унікальний ID запиту",
                "description": "Внутрішній унікальний ID запиту,що генерується засобами внутрішнього програмного забезпечення суб'єкта ФМ"
            },
            "idsubjectFM": {
                "$id": "#/properties/idsubjectFM",
                "type": "string",
                "title": "Ідентифікаотр cуб'єкта фінансового моніторингу",
                "description": "ID cуб'єкта ФМ (просвоюється при реєстрації суб'єкта ФМ в ПК 'FinAP CheckLists')"
            },
            "iduserPC": {
                "$id": "#/properties/iduserPC",
                "type": "string",
                "title": "Ідентифікатор робочого місця cуб'єкта фінансового моніторингу",
                "description": "ID робочого місця cуб'єкта ФМ (просвоюється на стороні суб'єкта ФМ)"
            },
            "idrequest": {
                "$id": "#/properties/idrequest",
                "type": "string",
                "title": "Ідентифікатор запиту в системі ПК 'FinAP CheckLists'",
                "description": "Ідентифікатор запиту в системі ПК 'FinAP CheckLists' (генерується засобами Сервісу обробки запитів)"
            },
            "dateResponse": {
                "$id": "#/properties/dateResponse",
                "type": "string",
                "title": "Дата та час формування відповіді",
                "description": "Дата та час формування відповіді (генерується засобами Сервісу обробки запитів) у форматі 'YYYY-MM-DD hh:mm:ss'"
            },
            "listdata": {
                "$id": "#/properties/listdata",
                "type": "string",
                "title": "The listdata schema",
                "description": "Число, яке при приведенні у двійковий формат відображає у яких списках даних був здійснений пошук збігів, див. https://check.finap.com.ua/apiinfo/#paramListdata"
            },
            "search": {
                "$id": "#/properties/search",
                "type": "string",
                "title": "Метод пошуку",
                "description": "Метод пошуку (1 — повнотекстний, 2 — контекстний...)"
            },
            "responsetype": {
                "$id": "#/properties/responsetype",
                "type": "string",
                "title": "Тип відповіді",
                "description": "Тип відповіді (результату запиту): 1 — відповідь-дозвіл (true|false); 2 – узагальнений; 3 — скорочений; 5 — повний;"
            },
            "textformat": {
                "$id": "#/properties/textformat",
                "type": "string",
                "title": "Формат текстового поля для повного типу відповіді",
                "description": "Формат текстового поля для повного типу відповіді (responsetype=5), може набувати значення 'JSON' (або ' ', за замовчуванням), 'xml', 'html' і 'text'"
            },
            "result": {
                "$id": "#/properties/result",
                "type": "object",
                "title": "The result schema",
                "description": "Блок результатів обробки запит в реєстри CheckLists (див. https://check.finap.com.ua/apiinfo/#respon)",
                "properties": {
                    "peps": {
                        "$id": "#/properties/result/properties/peps",
                        "description": "Масив даних відповіді реєстру 'Публічні особи'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Публічні особи",
                        "type": [
                            "array",
                            "string"
                        ]
                    
                    },
                    "psanctions": {
                        "$id": "#/properties/result/properties/psanctions",
                        "description": "Масив даних відповіді реєстру 'Санкції та застереження'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Санкції та застереження",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "lostdocs": {
                        "$id": "#/properties/result/properties/lostdocs",
                        "description": "Масив даних відповіді реєстру 'Втрачені документи'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Втрачені/недійсні документи",
                        "type": [
                            "array",
                            "string"
                        ],
                        "items": {
                             "$id": "#items",
                             "anyOf": [
                                 {
                                     "$id": "#items/anyOf/0",
                                     "type": "object",
                                     "title": "The first anyOf schema",
                                     "description": "An explanation about the purpose of this instance.",
                                     "properties": {
                                         "ovd": {
                                             "$id": "#items/anyOf/0/properties/ovd",
                                             "type": "string",
                                             "title": "Підрозділ",
                                             "description": "Підрозділ, яким було внесено інформацію до реєстру втрачених/викрадених документів"
                                         },
                                         "d_SERIES": {
                                             "$id": "#items/anyOf/0/properties/d_SERIES",
                                             "type": "string",
                                             "title": "Серія",
                                             "description": "Серія документа"
                                         },
                                         "d_NUMBER": {
                                             "$id": "#items/anyOf/0/properties/d_NUMBER",
                                             "type": "string",
                                             "title": "Номер",
                                             "description": "Номер документа."
                                         },
                                         "d_TYPE": {
                                             "$id": "#items/anyOf/0/properties/d_TYPE",
                                             "type": "string",
                                             "title": "Тип",
                                             "description": "Тип документа, можливі значення:ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ,ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ ДЛЯ ВИЇЗДУ ЗА КОРДОН,ПОСВІДЧЕННЯ ЧЛЕНА ЕКІПАЖУ"
                                         },
                                         "d_STATUS": {
                                             "$id": "#items/anyOf/0/properties/d_STATUS",
                                             "type": "string",
                                             "title": "Статус",
                                             "description": "Статус документа, можливі значення:ВИЗНАНО НЕДІЙСНИМ,ВИКРАДЕНИЙ,ВТРАЧЕНО,ПАСПОРТ ПОМЕРЛОГО НЕ ЗДАНИЙ ДО ДМС,ВИЛУЧЕНО З ОЗНАКАМИ ПІДРОБКИ,ВЛАСНИК ДОКУМЕНТА РОЗШУКУЄТЬСЯ,ВІДІЗВАНИЙ,НЕ ВИЛУЧЕНО У ЗААРЕШТОВАНОГО"
                                         },
                                         "theft_DATA": {
                                             "$id": "#items/anyOf/0/properties/theft_DATA",
                                             "type": "string",
                                             "title": "Дата повідомлення",
                                             "description": "Дата повідомлення про втрату/викрадення"
                                         },
                                         "insert_DATE": {
                                             "$id": "#items/anyOf/0/properties/insert_DATE",
                                             "type": "string",
                                             "title": "Дата внесення до реєстру",
                                             "description": "Дата внесення до реєстру втрачених документів"
                                         },
                                         "id": {
                                             "$id": "#items/anyOf/0/properties/id",
                                             "type": "string",
                                             "title": "Ідентифікатор запису",
                                             "description": "Ідентифікатор запису про втрачений документ"
                                         }
                                     }
                                 }
                             ]
                        }

                    },
                    "edr": {
                        "$id": "#/properties/result/properties/edr",
                        "description": "Масив даних з реєстру 'Зв'язок з юридичною особою'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Зв'язок з юридичною особою",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "edrfullinfo": {
                        "$id": "#/properties/result/properties/edrfullinfo",
                        "description": "Масив даних по юридичній особі або ФОП з реєстру 'Інформація про ЮО і ФОП'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Інформація про ЮО і ФОП",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "edrchanges": {
                        "$id": "#/properties/result/properties/edrchanges",
                        "description": "Масив даних по змінах в юридичній особі з реєстру 'ЄДР ЮО і ФОП'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Зміни в юридичній особі",
                        "type": [
                            "array",
                            "string"
                        ],
                        "items": {
                              "$id": "#items",
                              "anyOf": [
                                  {
                                      "$id": "#items/anyOf/0",
                                      "type": "object",
                                      "properties": {
                                          "edrchangesfrom": {
                                              "$id": "#items/anyOf/0/properties/edrchangesfrom",
                                              "type": "string",
                                              "title": "Дата початку",
                                              "description": "Дата початку періоду, що перевірявся"
                                          },
                                          "edrchangesto": {
                                              "$id": "#items/anyOf/0/properties/edrchangesto",
                                              "type": "string",
                                              "title": "Дата закінчення",
                                              "description": "Дата закінчення періоду, що перевірявся"
                                          },
                                          "edrchanges": {
                                              "$id": "#items/anyOf/0/properties/edrchanges",
                                              "type": "array",
                                              "title": "Масив даних Зміни в ЄДР по конкретному коду ЄДРПОУ",
                                              "description": "Масив даних Зміни в ЄДР по конкретному коду ЄДРПОУ",
                                              "items": {
                                                  "$id": "#items/anyOf/0/properties/edrchanges/items",
                                                  "anyOf": [
                                                      {
                                                          "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0",
                                                          "type": "object",
                                                          "properties": {
                                                              "edrpou": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/edrpou",
                                                                  "type": "string",
                                                                  "title": "ЄДРПОУ",
                                                                  "description": "Код ЄДРПОУ юридичної особи"
                                                              },
                                                              "lastname": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/lastname",
                                                                  "type": "string",
                                                                  "title": "Актуальна повна назва",
                                                                  "description": "Актуальна повна назва юридичної особи"
                                                              },
                                                              "lastsname": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/lastsname",
                                                                  "type": "string",
                                                                  "title": "Актуальна скорочена назва",
                                                                  "description": "Актуальна скорочена назва юридичної особи"
                                                              },
                                                              "lastaddress": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/lastaddress",
                                                                  "type": "string",
                                                                  "title": "Актуальна адреса",
                                                                  "description": "Актуальна адреса реєстрації юридичної особи"
                                                              },
                                                              "laststate": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/laststate",
                                                                  "type": "string",
                                                                  "title": "Актуальний статус",
                                                                  "description": "Актуальний статус юридичної особи"
                                                              },
                                                              "n_name": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/n_name",
                                                                  "type": "string",
                                                                  "title": "Зміна назви (ОПФ)",
                                                                  "description": "Кількість змін назви (ОПФ) за період, що перевіряється"
                                                              },
                                                              "n_address": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/n_address",
                                                                  "type": "string",
                                                                  "title": "Зміна адреси реєстрації",
                                                                  "description": "Кількість змін адреси реєстрації за період, що перевіряється"
                                                              },
                                                              "n_manag": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/n_manag",
                                                                  "type": "string",
                                                                  "title": "Зміна керівника",
                                                                  "description": "Кількість змін керівника за період, що перевіряється"
                                                              },
                                                              "n_kved": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/n_kved",
                                                                  "type": "string",
                                                                  "title": "Зміна основного КВЕДу",
                                                                  "description": "Кількість змін основного КВЕДу за період, що перевіряється"
                                                              },
                                                              "n_state": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/n_state",
                                                                  "type": "string",
                                                                  "title": "Зміна статусу",
                                                                  "description": "Кількість змін статусу за період, що перевіряється"
                                                              },
                                                              "n_kbv": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/n_kbv",
                                                                  "type": "string",
                                                                  "title": "Зміна інформації про КБВ",
                                                                  "description": "Кількість змін інформації про КБВ за період, що перевіряється"
                                                              },
                                                              "n_kbv_human": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/n_kbv_human",
                                                                  "type": "string",
                                                                  "title": "Зміна КБВ",
                                                                  "description": "Кількість змін КБВ за період, що перевіряється"
                                                              },
                                                              "n_founder": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/n_founder",
                                                                  "type": "string",
                                                                  "title": "Зміна інформації про засновників/учасників",
                                                                  "description": "Кількість змін інформації про засновників/учасників за період, що перевіряється"
                                                              },
                                                              "n_founder_human": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/n_founder_human",
                                                                  "type": "string",
                                                                  "title": "Зміна засновників/учасників",
                                                                  "description": "Кількість змін засновників/учасників за період, що перевіряється"
                                                              },
                                                              "changes": {
                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes",
                                                                  "type": "array",
                                                                  "title": "Масив даних Деталізація змін",
                                                                  "description": "Масив даних Деталізація змін",
                                                                  "items": {
                                                                      "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes/items",
                                                                      "anyOf": [
                                                                          {
                                                                              "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes/items/anyOf/0",
                                                                              "type": "object",
                                                                              "properties": {
                                                                                  "datachange": {
                                                                                      "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes/items/anyOf/0/properties/datachange",
                                                                                      "type": "string",
                                                                                      "title": "Дата зміни",
                                                                                      "description": "Дата змін в юридичній особі"
                                                                                  },
                                                                                  "changedetails": {
                                                                                      "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes/items/anyOf/0/properties/changedetails",
                                                                                      "type": "array",
                                                                                      "title": "Масив змін в юридичній особі за дату",
                                                                                      "description": "Масив змін в юридичній особі за дату",
                                                                                      "items": {
                                                                                          "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes/items/anyOf/0/properties/changedetails/items",
                                                                                          "anyOf": [
                                                                                              {
                                                                                                  "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes/items/anyOf/0/properties/changedetails/items/anyOf/0",
                                                                                                  "type": "object",
                                                                                                  "properties": {
                                                                                                      "id": {
                                                                                                          "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes/items/anyOf/0/properties/changedetails/items/anyOf/0/properties/id",
                                                                                                          "type": "string",
                                                                                                          "title": "Ідентифікатор зміни",
                                                                                                          "description": "Ідентифікатор зміни"
                                                                                                      },
                                                                                                      "changeinf": {
                                                                                                          "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes/items/anyOf/0/properties/changedetails/items/anyOf/0/properties/changeinf",
                                                                                                          "type": "string",
                                                                                                          "title": "Тип зміни",
                                                                                                          "description": "Інформація про зміну. Може приймати наступні значення:000. Юридична особа за таким кодом ЄДРПОУ не знайдена!; 010. зміна органіційно-правової форми або назви; 011. зміна скор. назви; 020. зміна адреси; 030. зміна керівника; 040. зміна основного виду діяльності; 050. зміна стану ЮО; 060. зміна кінцевого бенефіціарного власника (контролера) КБВ; 070. зміна засновника (учасника)"
                                                                                                      },
                                                                                                      "changetype": {
                                                                                                          "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes/items/anyOf/0/properties/changedetails/items/anyOf/0/properties/changetype",
                                                                                                          "type": "number",
                                                                                                          "title": "Тип зміни",
                                                                                                          "description": "Тип зміни"
                                                                                                      },
                                                                                                      "ishumanchanges": {
                                                                                                          "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes/items/anyOf/0/properties/changedetails/items/anyOf/0/properties/ishumanchanges",
                                                                                                          "type": "boolean",
                                                                                                          "title": "Індикатор зміни особи керівника, КБВ, учасника",
                                                                                                          "description": "Індикатор зміни особи керівника, КБВ, учасника"
                                                                                                      },
                                                                                                      "oldv": {
                                                                                                          "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes/items/anyOf/0/properties/changedetails/items/anyOf/0/properties/oldv",
                                                                                                          "type": "string",
                                                                                                          "title": "Попереднє значення",
                                                                                                          "description": "Попереднє значення парметру"
                                                                                                      },
                                                                                                      "newv": {
                                                                                                          "$id": "#items/anyOf/0/properties/edrchanges/items/anyOf/0/properties/changes/items/anyOf/0/properties/changedetails/items/anyOf/0/properties/newv",
                                                                                                          "type": "string",
                                                                                                          "title": "Нове значення",
                                                                                                          "description": "Нове значення параметру"
                                                                                                      }
                                                                                                  }
                                                                                              }
                                                                                          ]
                                                                                      }
                                                                                  }
                                                                              }
                                                                          }
                                                                      ]
                                                                  }
                                                              }
                                                          }
                                                      }
                                                  ]
                                              }
                                          }
                                      }
                                  }
                              ]
                        }
                      
                    },
                    "justice": {
                        "$id": "#/properties/result/properties/justice",
                        "description": "Масив даних відповіді з реєстру 'Судових рішень'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Судові рішення",
                        "type": [
                            "array",
                            "string"
                        ],
                        "items": {
                              "$id": "#items",
                              "anyOf": [
                                  {
                                      "$id": "#items/anyOf/0",
                                      "type": "object",
                                      "properties": {
                                          "cause_num": {
                                              "$id": "#items/anyOf/0/properties/cause_num",
                                              "type": "string",
                                              "title": "Номер судової справи",
                                              "description": "Номер судової справи"
                                          },
                                          "name": {
                                              "$id": "#items/anyOf/0/properties/name",
                                              "type": "string",
                                              "title": "Форма судочинства",
                                              "description": "Форма судочинства"
                                          },
                                          "edrpou": {
                                              "$id": "#items/anyOf/0/properties/edrpou",
                                              "type": "string",
                                              "title": "ЄДРПОУ"
                                          },
                                          "typeperson": {
                                              "$id": "#items/anyOf/0/properties/typeperson",
                                              "type": "string",
                                              "title": "Роль особи у справі",
                                              "description": "Роль особи у справі (ПОЗИВАЧ,ВІДПОВІДАЧ,СТЯГУВАЧ,ЗАЯВНИК,ЗАІНТЕРЕСОВАНА ОСОБА,БОРЖНИКТРЕТЯ ОСОБА, і т.д)"
                                          },
                                          "nameperson": {
                                              "$id": "#items/anyOf/0/properties/nameperson",
                                              "type": "string",
                                              "title": "Найменування особи",
                                              "description": "Найменування особи"
                                          },
                                          "case_description": {
                                              "$id": "#items/anyOf/0/properties/case_description",
                                              "type": "string",
                                              "title": "Короткий опис справи"
                                          },
                                          "datails": {
                                              "$id": "#items/anyOf/0/properties/datails",
                                              "type": "string",
                                              "title": "Деталі судової справи",
                                              "description": "деталі справи у форматі (№рішення|Назва суду|Форма судочинства|Форма судового рішення|Суддя|Предмет спору|Дата ухвалення рішення|Посилання на рішення) розділені ';'"
                                          },
                                          "documents": {
                                            "$id": "#items/anyOf/0/properties/documents",
                                            "type": "array",
                                            "title": "Масив даних про документи судової справи",
                                            "items": {
                                                "$id": "#items/anyOf/0/properties/documents/items",
                                                "anyOf": [
                                                    {
                                                        "$id": "#items/anyOf/0/properties/documents/items/anyOf/0",
                                                        "type": "object",
                                                        "properties": {
                                                            "doc_id": {
                                                                "$id": "#items/anyOf/0/properties/documents/items/anyOf/0/properties/doc_id",
                                                                "type": "string",
                                                                "title": "Номер рішення"
                                                            },
                                                            "court": {
                                                                "$id": "#items/anyOf/0/properties/documents/items/anyOf/0/properties/court",
                                                                "type": "string",
                                                                "title": "Назва суду"
                                                            },
                                                            "instance": {
                                                                "$id": "#items/anyOf/0/properties/documents/items/anyOf/0/properties/instance",
                                                                "type": "string",
                                                                "title": "Форма судочинства"
                                                            },
                                                            "judgment_form": {
                                                                "$id": "#items/anyOf/0/properties/documents/items/anyOf/0/properties/judgment_form",
                                                                "type": "string",
                                                                "title": "|Форма судового рішення"
                                                            },
                                                            "judge": {
                                                                "$id": "#items/anyOf/0/properties/documents/items/anyOf/0/properties/judge",
                                                                "type": "string",
                                                                "title": "Суддя"
                                                            },
                                                            "cause_categorie": {
                                                                "$id": "#items/anyOf/0/properties/documents/items/anyOf/0/properties/cause_categorie",
                                                                "type": "string",
                                                                "title": "Предмет спору"
                                                            },
                                                            "adjudication_date": {
                                                                "$id": "#items/anyOf/0/properties/documents/items/anyOf/0/properties/adjudication_date",
                                                                "type": "string",
                                                                "title": "Дата ухвалення рішення"
                                                            },
                                                            "doc_url": {
                                                                "$id": "#items/anyOf/0/properties/documents/items/anyOf/0/properties/doc_url",
                                                                "type": "string",
                                                                "title": "Посилання на рішення"
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                          },
                                          "persons": {
                                              "$id": "#items/anyOf/0/properties/persons",
                                              "type": "string",
                                              "title": "Учасники судової справи",
                                              "description": "Інші учасники судової справи у форматі (роль особи у справі:назва особи:Назва суду:Дата засідання) розділені ';'"
                                          },
                                          "personsList": {
                                            "$id": "#items/anyOf/0/properties/personsList",
                                            "type": "array",
                                            "title": "Масив даних про учасників судової справи",
                                            "items": {
                                                "$id": "#items/anyOf/0/properties/personsList/items",
                                                "anyOf": [
                                                    {
                                                        "$id": "#items/anyOf/0/properties/personsList/items/anyOf/0",
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "$id": "#items/anyOf/0/properties/personsList/items/anyOf/0/properties/type",
                                                                "type": "string",
                                                                "title": "Роль особи у справі"
                                                            },
                                                            "name": {
                                                                "$id": "#items/anyOf/0/properties/personsList/items/anyOf/0/properties/name",
                                                                "type": "string",
                                                                "title": "Назва особи"
                                                            },
                                                            "court": {
                                                                "$id": "#items/anyOf/0/properties/personsList/items/anyOf/0/properties/court",
                                                                "type": "string",
                                                                "title": "Назва суду"
                                                            },
                                                            "date": {
                                                                "$id": "#items/anyOf/0/properties/personsList/items/anyOf/0/properties/date",
                                                                "type": "string",
                                                                "title": "Дата засідання"
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                          },
                                          "percent": {
                                              "$id": "#items/anyOf/0/properties/percent",
                                              "type": "number",
                                              "title": "Відсоток співпадіння",
                                              "description": "Відсоток співпадіння за ПІБ"
                                          },
                                          "level": {
                                              "$id": "#items/anyOf/0/properties/level",
                                              "type": "string",
                                              "title": "Рівень співпадіння в реєстрі",
                                              "description": "Рівень співпадіння в реєстрі Поле level може приймати два значення «Низький» і «Високий». Високий рівень співпадіння можливий лише у випадку виконання двох умов: Для юридичних осіб: значення вхідного параметру ipn (ЄДРПОУ) співпадає із значенням вихідного параметру ipn. Всі решта варіанти відповіді будуть мати «Низький» рівень співпадіння."
                                          }
                                      }
                                  }
                              ]
                        }
                      
                    },
                    "licenses": {
                        "$id": "#/properties/result/properties/licenses",
                        "description": "Масив даних відповіді з реєстру 'Ліцензії'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Ліцензії",
                        "type": [
                            "array",
                            "string"
                        ],
                        "items": {
                              "$id": "#items",
                              "anyOf": [
                                  {
                                      "$id": "#items/anyOf/0",
                                      "type": "object",
                                      "properties": {
                                          "edrpou": {
                                              "$id": "#items/anyOf/0/properties/edrpou",
                                              "type": "string",
                                              "title": "ЄДРПОУ/ІПН",
                                              "description": "Код ЄДРПОУ/ІПН"
                                          },
                                          "build": {
                                              "$id": "#items/anyOf/0/properties/build",
                                              "type": "array",
                                              "title": "Будівельні ліцензії",
                                              "description": "Блок що стосується будівельних ліцензій",
                                              "items": {
                                                  "$id": "#items/anyOf/0/properties/build/items",
                                                  "anyOf": [
                                                      {
                                                          "$id": "#items/anyOf/0/properties/build/items/anyOf/0",
                                                          "type": "object",
                                                          "properties": {
                                                              "id": {
                                                                  "$id": "#items/anyOf/0/properties/build/items/anyOf/0/properties/id",
                                                                  "type": "integer",
                                                                  "title": "Ідентифікатор ліцензії",
                                                                  "description": "Ідентифікатор ліцензії"
                                                              },
                                                              "vud": {
                                                                  "$id": "#items/anyOf/0/properties/build/items/anyOf/0/properties/vud",
                                                                  "type": "string",
                                                                  "title": "Вид ліцензії",
                                                                  "description": "Вид ліцензії"
                                                              },
                                                              "lic": {
                                                                  "$id": "#items/anyOf/0/properties/build/items/anyOf/0/properties/lic",
                                                                  "type": "string",
                                                                  "title": "Номер ліцензії",
                                                                  "description": "Номер ліцензії"
                                                              },
                                                              "name": {
                                                                  "$id": "#items/anyOf/0/properties/build/items/anyOf/0/properties/name",
                                                                  "type": "string",
                                                                  "title": "Назва особи",
                                                                  "description": "Назва (ПІБ) особи який було видано будівельну ліцензію"
                                                              },
                                                              "address": {
                                                                  "$id": "#items/anyOf/0/properties/build/items/anyOf/0/properties/address",
                                                                  "type": "string",
                                                                  "title": "Адреса",
                                                                  "description": "Адреса особи"
                                                              },
                                                              "datebegin": {
                                                                  "$id": "#items/anyOf/0/properties/build/items/anyOf/0/properties/datebegin",
                                                                  "type": "string",
                                                                  "title": "Дата видачі ліцензії",
                                                                  "description": "Дата видачі ліцензії"
                                                              },
                                                              "dateend": {
                                                                  "$id": "#items/anyOf/0/properties/build/items/anyOf/0/properties/dateend",
                                                                  "type": "string",
                                                                  "title": "Дата закінчення ліцензії",
                                                                  "description": "Дата закінчення ліцензії"
                                                              }
                                                          }
                                                      }
                                                  ]
                                              }
                                          },
                                          "gambling": {
                                              "$id": "#items/anyOf/0/properties/gambling",
                                              "type": "array",
                                              "title": "Ліцензії на провадження діяльності з організації та проведення азартних ігор",
                                              "description": "Блок що стосується ліцензії на провадження діяльності з організації та проведення азартних ігор",
                                              "items": {
                                                  "$id": "#items/anyOf/0/properties/gambling/items",
                                                  "anyOf": [
                                                      {
                                                          "$id": "#items/anyOf/0/properties/gambling/items/anyOf/0",
                                                          "type": "object",
                                                          "properties": {
                                                              "name": {
                                                                  "$id": "#items/anyOf/0/properties/gambling/items/anyOf/0/properties/name",
                                                                  "type": "string",
                                                                  "title": "Назва",
                                                                  "description": "Назва юридичної особи"
                                                              },
                                                              "address": {
                                                                  "$id": "#items/anyOf/0/properties/gambling/items/anyOf/0/properties/address",
                                                                  "type": "string",
                                                                  "title": "Місцезнаходження",
                                                                  "description": "Місцезнаходження юридичної особи"
                                                              },
                                                              "license": {
                                                                  "$id": "#items/anyOf/0/properties/gambling/items/anyOf/0/properties/license",
                                                                  "type": "string",
                                                                  "title": "Рішення про видачу ліцензії",
                                                                  "description": "Рішення про видачу ліцензії (дата прийняття, номер рішення)"
                                                              },
                                                              "datelicense": {
                                                                  "$id": "#items/anyOf/0/properties/gambling/items/anyOf/0/properties/datelicense",
                                                                  "type": "string",
                                                                  "title": "Дата видачі",
                                                                  "description": "Дата видачі ліцензії"
                                                              },
                                                              "brandname": {
                                                                  "$id": "#items/anyOf/0/properties/gambling/items/anyOf/0/properties/brandname",
                                                                  "type": "string",
                                                                  "title": "Бренд",
                                                                  "description": "Бренд організатора азартних ігор"
                                                              },
                                                              "ntypelic": {
                                                                  "$id": "#items/anyOf/0/properties/gambling/items/anyOf/0/properties/ntypelic",
                                                                  "type": "integer",
                                                                  "title": "Цифровий код типу ліцензії",
                                                                  "description": "Цифровий код типу ліцензії:(1 - 'ліцензія на провадження діяльності з організації та проведення азартних ігор казино у мережі інтернет'; 2 - 'ліцензія на провадження діяльності з організації та проведення азартних ігор у гральних закладах казино'; 3 - 'ліцензія на провадження діяльності з організації та проведення азартних ігор у залах гральних автоматів'; 4 - 'ліцензія на провадження діяльності з організації та проведення азартних ігор у покер у мережі Інтернет'; 5 - 'ліцензія на провадження діяльності з організації та проведення букмекерської діяльності')"
                                                              },
                                                              "typelic": {
                                                                  "$id": "#items/anyOf/0/properties/gambling/items/anyOf/0/properties/typelic",
                                                                  "type": "string",
                                                                  "title": "Тип ліцензії",
                                                                  "description": "Тип ліцензії"
                                                              },
                                                              "description": {
                                                                  "$id": "#items/anyOf/0/properties/gambling/items/anyOf/0/properties/description",
                                                                  "type": "string",
                                                                  "title": "Місце провадження ліцензіатом діяльності",
                                                                  "description": "Місце провадження ліцензіатом діяльності (місце розташування грального закладу (адреса) та площа грального закладу)"
                                                              }
                                                          }
                                                      }
                                                  ]
                                              }
                                          },
                                          "bonds": {
                                              "$id": "#items/anyOf/0/properties/bonds",
                                              "type": "array",
                                              "title": "Цінні парери",
                                              "description": "Блок що стосується цінних паперів",
                                              "items": {
                                                  "$id": "#items/anyOf/0/properties/bonds/items",
                                                  "anyOf": [
                                                      {
                                                          "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0",
                                                          "type": "object",
                                                          "properties": {
                                                              "id": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/id",
                                                                  "type": "integer",
                                                                  "title": "Ідентифікатор цінних паперів",
                                                                  "description": "Ідентифікатор цінних паперів"
                                                              },
                                                              "sertificates_nom": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/sertificates_nom",
                                                                  "type": "string",
                                                                  "title": "Реєстраційний номер свідоцтва про реєстрацію випуску",
                                                                  "description": "Реєстраційний номер свідоцтва про реєстрацію випуску"
                                                              },
                                                              "edrpou": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/edrpou",
                                                                  "type": "string",
                                                                  "title": "ЄДРПОУ",
                                                                  "description": "Код за ЄДРПОУ емітента"
                                                              },
                                                              "entity_form": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/entity_form",
                                                                  "type": "string",
                                                                  "title": "Організаційно правова форма",
                                                                  "description": "Організаційно правова форма емітента"
                                                              },
                                                              "name": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/name",
                                                                  "type": "string",
                                                                  "title": "Найменування емітента",
                                                                  "description": "Найменування емітента"
                                                              },
                                                              "emis_type_name": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/emis_type_name",
                                                                  "type": "string",
                                                                  "title": "Вид цінних паперів",
                                                                  "description": "Вид цінних паперів (Акції/Облігації)"
                                                              },
                                                              "qty": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/qty",
                                                                  "type": "integer",
                                                                  "title": "Кількість цінних паперів",
                                                                  "description": "Кількість цінних паперів"
                                                              },
                                                              "nominal": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/nominal",
                                                                  "type": "number",
                                                                  "title": "Номінальна вартість",
                                                                  "description": "Номінальна вартість"
                                                              },
                                                              "emis_vol": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/emis_vol",
                                                                  "type": "integer",
                                                                  "title": "Загальна номінальна вартість випуску",
                                                                  "description": "Загальна номінальна вартість випуску"
                                                              },
                                                              "stat_cap": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/stat_cap",
                                                                  "type": "integer",
                                                                  "title": "Розмір статутного капіталу",
                                                                  "description": "Розмір статутного капіталу"
                                                              },
                                                              "releases_form_code": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/releases_form_code",
                                                                  "type": "string",
                                                                  "title": "Форма існування",
                                                                  "description": "Форма існування"
                                                              },
                                                              "tp_name": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/tp_name",
                                                                  "type": "string",
                                                                  "title": "Тип цінних паперів",
                                                                  "description": "Тип цінних паперів"
                                                              },
                                                              "reg_date": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/reg_date",
                                                                  "type": "string",
                                                                  "title": "Дата реєстрації випуску цінних паперів",
                                                                  "description": "Дата реєстрації випуску цінних паперів"
                                                              },
                                                              "report_reg_dt": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/report_reg_dt",
                                                                  "type": "string",
                                                                  "title": "Дата реєстрації звіту про результати розміщення цінних паперів",
                                                                  "description": "Дата реєстрації звіту про результати розміщення цінних паперів"
                                                              },
                                                              "suspend_nom": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/suspend_nom",
                                                                  "type": "string",
                                                                  "title": "Номер розпорядження про зупинення обігу",
                                                                  "description": "Номер розпорядження про зупинення обігу"
                                                              },
                                                              "suspend_dt": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/suspend_dt",
                                                                  "type": "string",
                                                                  "title": "Дата видачі розпорядження про зупинення обігу",
                                                                  "description": "Дата видачі розпорядження про зупинення обігу"
                                                              },
                                                              "resume_nom": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/resume_nom",
                                                                  "type": "string",
                                                                  "title": "Номер розпорядження про відновлення обігу",
                                                                  "description": "Номер розпорядження про відновлення обігу"
                                                              },
                                                              "resume_dt": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/resume_dt",
                                                                  "type": "string",
                                                                  "title": "Дата видачі розпорядження про відновлення обігу",
                                                                  "description": "Дата видачі розпорядження про відновлення обігу"
                                                              },
                                                              "cancel_nom": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/cancel_nom",
                                                                  "type": "string",
                                                                  "title": "Номер розпорядження про скасування реєстрації випуску",
                                                                  "description": "Номер розпорядження про скасування реєстрації випуску"
                                                              },
                                                              "series": {
                                                                  "$id": "#items/anyOf/0/properties/bonds/items/anyOf/0/properties/series",
                                                                  "type": "string",
                                                                  "title": "Серія випуску облігацій",
                                                                  "description": "Серія випуску облігацій (у разі наявності)"
                                                              }
                                                          }
                                                      }
                                                  ]
                                              }
                                          }
                                      }
                                  }
                              ]
                        }
                      
                    },
                    "executive": {
                        "$id": "#/properties/result/properties/executive",
                        "description": "Масив даних відповіді з реєстру 'Виконавчі провадження'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Виконавчі провадження",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "taxdebtor": {
                        "$id": "#/properties/result/properties/taxdebtor",
                        "description": "Масив даних відповіді з реєстру 'Податкові боржники'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Податкові боржники",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "debtor": {
                        "$id": "#/properties/result/properties/debtor",
                        "description": "Масив даних відповіді з реєстру 'Боржники'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Боржники",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "okupant": {
                        "$id": "#/properties/result/properties/okupant",
                        "description": "Масив даних відповіді з реєстру 'Окупант'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Окупант",
                        "type": [
                            "array",
                            "string"
                        ],
                        "items": {
                              "$id": "#items",
                              "anyOf": [
                                  {
                                      "$id": "#items/anyOf/0",
                                      "type": "object",
                                      "properties": {
                                          "id": {
                                              "$id": "#items/anyOf/0/properties/id",
                                              "type": "number",
                                              "title": "Ідентифікатор",
                                              "description": "Ідентифікатор в реєстрі"
                                          },
                                          "name": {
                                              "$id": "#items/anyOf/0/properties/name",
                                              "type": "string",
                                              "title": "ПІБ особи",
                                              "description": "ПІБ особи"
                                          },
                                          "rank": {
                                              "$id": "#items/anyOf/0/properties/rank",
                                              "type": "string",
                                              "title": "Звання",
                                              "description": "Звання"
                                          },
                                          "birth": {
                                              "$id": "#items/anyOf/0/properties/birth",
                                              "type": "string",
                                              "title": "Дата народження",
                                              "description": "Дата народження"
                                          },
                                          "passport": {
                                              "$id": "#items/anyOf/0/properties/passport",
                                              "type": "string",
                                              "title": "Паспортні дані",
                                              "description": "Паспортні дані"
                                          },
                                          "basenumber": {
                                              "$id": "#items/anyOf/0/properties/basenumber",
                                              "type": "string",
                                              "title": "Номер військової частини",
                                              "description": "Номер військової частини"
                                          },
                                          "base": {
                                              "$id": "#items/anyOf/0/properties/base",
                                              "type": "string",
                                              "title": "Назва військової частини",
                                              "description": "Назва військової частини"
                                          },
                                          "info": {
                                              "$id": "#items/anyOf/0/properties/info",
                                              "type": "string",
                                              "title": "Додаткова інформація",
                                              "description": "Додаткова інформація"
                                          },
                                          "locatedinua": {
                                              "$id": "#items/anyOf/0/properties/locatedinua",
                                              "type": "boolean",
                                              "title": "Присутність в Україні",
                                              "description": "Присутність в Україні"
                                          },
                                          "is_good": {
                                              "$id": "#items/anyOf/0/properties/is_good",
                                              "type": "boolean",
                                              "title": "Загиблий",
                                              "description": "Загиблий"
                                          },
                                          "is_polon": {
                                              "$id": "#items/anyOf/0/properties/is_polon",
                                              "type": "boolean",
                                              "title": "Полонений",
                                              "description": "Полонений"
                                          },
                                          "is_identified": {
                                              "$id": "#items/anyOf/0/properties/is_identified",
                                              "type": "boolean",
                                              "title": "Ідентифікований",
                                              "description": "Ідентифікований"
                                          },
                                          "is_accused": {
                                              "$id": "#items/anyOf/0/properties/is_accused",
                                              "type": "boolean",
                                              "title": "Обвинувачений",
                                              "description": "Обвинувачений"
                                          },
                                          "foto": {
                                              "$id": "#items/anyOf/0/properties/foto",
                                              "type": "string",
                                              "title": "Посилання на фото",
                                              "description": "Посилання на фото"
                                          },
                                          "address": {
                                              "$id": "#items/anyOf/0/properties/address",
                                              "type": "string",
                                              "title": "Адреса"
                                          },
                                          "link": {
                                              "$id": "#items/anyOf/0/properties/link",
                                              "type": "string",
                                              "title": "Посилання"
                                          },
                                          "percent": {
                                              "$id": "#items/anyOf/0/properties/percent",
                                              "type": "number",
                                              "title": "Відсоток співпадіння",
                                              "description": "Відсоток співпадіння за ПІБ"
                                          },
                                          "level": {
                                              "$id": "#items/anyOf/0/properties/level",
                                              "type": "string",
                                              "title": "Рівень співпадіння в реєстрі",
                                              "description": "Рівень співпадіння в реєстрі Окупанти. Поле level може приймати два значення Низький і Високий. Високий рівень співпадіння можливий лише у випадку 100% співпадіння ПІБ і дати народження. Всі решта варіанти відповіді будуть мати Низький рівень співпадіння."
                                          }
                                      }
                                  }
                              ]
                        }                      
                    },
                    "zrada": {
                        "$id": "#/properties/result/properties/zrada",
                        "description": "Масив даних відповіді з реєстру 'Зрадники'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Зрадники",
                        "type": [
                            "array",
                            "string"
                        ],
                        "items": {
                              "$id": "#items",
                              "anyOf": [
                                  {
                                      "$id": "#items/anyOf/0",
                                      "type": "object",
                                      "properties": {
                                          "id": {
                                              "$id": "#items/anyOf/0/properties/id",
                                              "type": "string",
                                              "title": "Ідентифікатор в реєстрі"
                                          },
                                          "name": {
                                              "$id": "#items/anyOf/0/properties/name",
                                              "type": "string",
                                              "title": "ПІБ особи"
                                          },
                                          "birth": {
                                              "$id": "#items/anyOf/0/properties/birth",
                                              "type": "string",
                                              "title": "Рік народження"
                                          },
                                          "position": {
                                              "$id": "#items/anyOf/0/properties/position",
                                              "type": "string",
                                              "title": "Посада"
                                          },
                                          "reason": {
                                              "$id": "#items/anyOf/0/properties/reason",
                                              "type": "string",
                                              "title": "Причина",
                                              "description": "Причина по якій дана особа була додана в реєстр"
                                          },
                                          "foto": {
                                              "$id": "#items/anyOf/0/properties/foto",
                                              "type": "string",
                                              "title": "Фото",
                                              "description": "Посилання на фото"
                                          },
                                          "url": {
                                              "$id": "#items/anyOf/0/properties/url",
                                              "type": "string",
                                              "title": "Посилання",
                                              "description": "Посилання на сторінку реєстра"
                                          },
                                          "source": {
                                              "$id": "#items/anyOf/0/properties/source",
                                              "type": "string",
                                              "title": "Джерело",
                                              "description": "Посилання на джерело підтвердження факту зради"
                                          },
                                          "percent": {
                                              "$id": "#items/anyOf/0/properties/percent",
                                              "type": "number",
                                              "title": "Відсоток збігу",
                                              "description": "Відсоток збігу по ПІБ"
                                          },
                                          "level": {
                                              "$id": "#items/anyOf/0/properties/level",
                                              "type": "string",
                                              "title": "Рівень співпадіння",
                                              "description": "Рівень співпадіння в реєстрі Зрадники. Поле level може приймати два значення Низький і Високий. Високий рівень співпадіння можливий лише у випадку 100% співпадіння ПІБ і дати народження. Всі решта варіанти відповіді будуть мати Низький рівень співпадіння."
                                          }
                                      }
                                  }
                              ]
                        }                      
                    },
                    "nonrezedent": {
                        "$id": "#/properties/result/properties/nonrezedent",
                        "description": "Масив даних відповіді з реєстру 'Нерезеденти'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Нерезеденти",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "notarius": {
                        "$id": "#/properties/result/properties/notarius",
                        "description": "Масив даних відповіді з реєстру 'Нотаріуси'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Нотаріуси",
                        "type": [
                            "array",
                            "string"
                        ],
                        "items": {
                              "$id": "#items",
                              "anyOf": [
                                  {
                                      "$id": "#items/anyOf/0",
                                      "type": "object",
                                      "properties": {
                                          "license": {
                                              "$id": "#items/anyOf/0/properties/license",
                                              "type": "string",
                                              "title": "Номер ліцензії",
                                              "description": "Номер ліцензії"
                                          },
                                          "name": {
                                              "$id": "#items/anyOf/0/properties/name",
                                              "type": "string",
                                              "title": "ПІБ",
                                              "description": "ПІБ нотаріуса"
                                          },
                                          "nameobj": {
                                              "$id": "#items/anyOf/0/properties/nameobj",
                                              "type": "string",
                                              "title": "Назва ЮО",
                                              "description": "Назва ЮО"
                                          },
                                          "region": {
                                              "$id": "#items/anyOf/0/properties/region",
                                              "type": "string",
                                              "title": "Регіон",
                                              "description": "Регіон"
                                          },
                                          "contacts": {
                                              "$id": "#items/anyOf/0/properties/contacts",
                                              "type": "string",
                                              "title": "Контакти",
                                              "description": "Контакти"
                                          },
                                          "percent": {
                                              "$id": "#items/anyOf/0/properties/percent",
                                              "type": "number",
                                              "title": "Відсоток співпадіння за ПІБ",
                                              "description": "Відсоток співпадіння за ПІБ"
                                          },
                                          "level": {
                                              "$id": "#items/anyOf/0/properties/level",
                                              "type": "string",
                                              "title": "Рівень співпадіння в реєстрі",
                                              "description": "Рівень співпадіння в реєстрі Нотаріуси. Поле level може приймати два значення Низький і Високий. На даний момент всі варіанти відповіді будуть мати Низький рівень співпадіння."
                                          }
                                      }
                                  }
                              ]
                        }                      
                    },
[...]
