{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://finap.com.ua:9443",
      "description": "Основний"
    },
    {
      "url": "https://res1.finap.com.ua:9443",
      "description": "Резерв"
    },
    {
      "url": "https://res2.finap.com.ua:9443",
      "description": "Резерв"
    },
    {
      "url": "https://res3.finap.com.ua:9443",
      "description": "Резерв"
    }
  ],
  "security": [
    {
      "tokken": [], 
      "IDsubjectFM" : []
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "summary": "CheckLists",
        "description": "Повертає результат з реєстрів CheckLists",
        "parameters": [
          {
            "name": "listdata",
            "in": "query",
            "description": "Число, кожен біт якого при переведенні у двійковий формат визначає перелік баз (списків) у яких має здійснюватися пошук (або сума чисел, які відповідають пошуковим спискам)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Прізвище, ім'я, по-батькові або назва",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namelat",
            "in": "query",
            "description": "Прізвище, ім'я, по-батькові або назва у латиниці. За замовчуванням генерується із поля name за результатами роботи алгоритму транслітерації",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipn",
            "in": "query",
            "description": "Індивідуальний податковий номер фізичної особи - резидента (більшість реєстрів не містять даних про РНОКПП), або ЄДРПОУ юридичної особи резидента",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Дата народження фізичної особи у форматі “YYYY-MM-DD”",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "doc",
            "in": "query",
            "description": "Реквізити документа фізичної особи (національний пасторт, ID картка або паспорт для виїзду за кордон) у форматі серія і номер, або просто номер (якщо ID карта). Наявність або відсутність пробілу між серією і номером значення не має.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "doctype",
            "in": "query",
            "description": "Тип документу. Може приймати значення 1 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ в тому числі і ID карти), 2 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ ДЛЯ ВИЇЗДУ ЗА КОРДОН), 0 – обидва варіанти. За замовчуванням – 0",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Метод пошуку збігів по реєстрам (1 — повнотекстний (за замовчуванням), 2 — з корекцією помилок). За замовчуванням – 1",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "lowranklimit",
            "in": "query",
            "description": "Число, що визначає нижню межу співпадінь назви чи ПІБ у відсотках",
            "schema": {
              "type": "number",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успішна відповідь",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Success"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "CheckLists",
        "description": "Повертає результат з реєстрів CheckLists",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успішна відповідь",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "4XX": {
            "description": "Помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PostRequest": {
        "required": [
          "tokken",
          "IDsubjectFM"
        ],
        "type": "object",
        "properties": {
          "tokken" : {
            "description": "Унікальний ключ користувача суб’єкта ФМ (надається при реєстрації суб’єкта ФМ в ПК 'FinAP CheckLists'). Приходить на електронну пошту відповідальної особи",
            "type": "string"
          },
          "IDsubjectFM" : {
            "description": "ID суб’єкта ФМ (присвоюється при реєстрації суб’єкта ФМ в ПК 'FinAP CheckLists'). Приходить на електронну пошту відповідальної особи",
            "type": "string"
          },
          "listdata" :{
            "description": "Число, кожен біт якого при переведенні у двійковий формат визначає перелік баз (списків) у яких має здійснюватися пошук (або сума чисел, які відповідають пошуковим спискам).",
            "type": "number"
          },
          "name" : {
            "description": "Прізвище, ім'я, по-батькові або назва",
            "type": "string"
          },
          "namelat" : {
            "description": "Прізвище, ім'я, по-батькові або назва у латиниці. За замовчуванням генерується із поля name за результатами роботи алгоритму транслітерації",
            "type": "string"
          },
          "ipn" : {
            "description": "Індивідуальний податковий номер фізичної особи - резидента (більшість реєстрів не містять даних про РНОКПП), або ЄДРПОУ юридичної особи резидента",
            "type": "string"
          },
          "date" : {
            "description": "Дата народження фізичної особи у форматі “YYYY-MM-DD”",
            "type": "date"
          },
          "doc" : {
            "description": "Реквізити документа фізичної особи (національний пасторт, ID картка або паспорт для виїзду за кордон) у форматі серія і номер, або просто номер (якщо ID карта). Наявність або відсутність пробілу між серією і номером значення не має.",
            "type": "string"
          },
          "doctype" : {
            "description": "Тип документу. Може приймати значення 1 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ в тому числі і ID карти), 2 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ ДЛЯ ВИЇЗДУ ЗА КОРДОН), 0 – обидва варіанти. За замовчуванням – 0",
            "type": "number"
          },
          "search" : {
            "description": "Метод пошуку збігів по реєстрам (1 — повнотекстний (за замовчуванням), 2 — з корекцією помилок). За замовчуванням – 1",
            "type": "number"
          },
          "lowranklimit": {
            "description": "Число, що визначає нижню межу співпадінь назви чи ПІБ у відсотках",
            "type": "number"
          }
        }
      },
      "Success": {
        "$schema": "http://json-schema.org/draft-07/schema#",
        "$id": "https://check.finap.com.ua/apiinfo/schema/v1/RequestSchema.json",
        "type": "object",
        "title": "CheckLists Response",
        "description": "Схема відповіді на запит до сервісу CheckLists",
        "properties": {
            "idinternal": {
                "$id": "#/properties/idinternal",
                "type": "string",
                "title": "Внутрішній унікальний ID запиту",
                "description": "Внутрішній унікальний ID запиту,що генерується засобами внутрішнього програмного забезпечення суб'єкта ФМ"
            },
            "idsubjectFM": {
                "$id": "#/properties/idsubjectFM",
                "type": "string",
                "title": "Ідентифікаотр cуб'єкта фінансового моніторингу",
                "description": "ID cуб'єкта ФМ (просвоюється при реєстрації суб'єкта ФМ в ПК 'FinAP CheckLists')"
            },
            "iduserPC": {
                "$id": "#/properties/iduserPC",
                "type": "string",
                "title": "Ідентифікатор робочого місця cуб'єкта фінансового моніторингу",
                "description": "ID робочого місця cуб'єкта ФМ (просвоюється на стороні суб'єкта ФМ)"
            },
            "idrequest": {
                "$id": "#/properties/idrequest",
                "type": "string",
                "title": "Ідентифікатор запиту в системі ПК 'FinAP CheckLists'",
                "description": "Ідентифікатор запиту в системі ПК 'FinAP CheckLists' (генерується засобами Сервісу обробки запитів)"
            },
            "dateResponse": {
                "$id": "#/properties/dateResponse",
                "type": "string",
                "title": "Дата та час формування відповіді",
                "description": "Дата та час формування відповіді (генерується засобами Сервісу обробки запитів) у форматі 'YYYY-MM-DD hh:mm:ss'"
            },
            "listdata": {
                "$id": "#/properties/listdata",
                "type": "string",
                "title": "The listdata schema",
                "description": "Число, яке при приведенні у двійковий формат відображає у яких списках даних був здійснений пошук збігів, див. https://check.finap.com.ua/apiinfo/#paramListdata"
            },
            "search": {
                "$id": "#/properties/search",
                "type": "string",
                "title": "Метод пошуку",
                "description": "Метод пошуку (1 — повнотекстний, 2 — контекстний...)"
            },
            "responsetype": {
                "$id": "#/properties/responsetype",
                "type": "string",
                "title": "Тип відповіді",
                "description": "Тип відповіді (результату запиту): 1 — відповідь-дозвіл (true|false); 2 – узагальнений; 3 — скорочений; 5 — повний;"
            },
            "textformat": {
                "$id": "#/properties/textformat",
                "type": "string",
                "title": "Формат текстового поля для повного типу відповіді",
                "description": "Формат текстового поля для повного типу відповіді (responsetype=5), може набувати значення 'JSON' (або ' ', за замовчуванням), 'xml', 'html' і 'text'"
            },
            "result": {
                "$id": "#/properties/result",
                "type": "object",
                "title": "The result schema",
                "description": "Блок результатів обробки запит в реєстри CheckLists (див. https://check.finap.com.ua/apiinfo/#respon)",
                "properties": {
                    "peps": {
                        "$id": "#/properties/result/properties/peps",
                        "description": "Масив даних відповіді реєстру 'Публічні особи'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Публічні особи",
                        "type": [
                            "array",
                            "string"
                        ],
                        "items": {
                            "$id": "#items",
                            "anyOf": [
                                {
                                    "$id": "#items/anyOf/0",
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "$id": "#items/anyOf/0/properties/list",
                                            "type": "string",
                                            "title": "Назва пошукового реєстру ('pep')",
                                            "description": "Назва пошукового реєстру ('pep')"
                                        },
                                        "idpep": {
                                            "$id": "#items/anyOf/0/properties/idpep",
                                            "type": "number",
                                            "title": "Ідентифікатор публічної особи (близької, пов'язаної) в реєстрі",
                                            "description": "Ідентифікатор публічної особи (близької, пов'язаної) в рестрі"
                                        },
                                        "active": {
                                            "$id": "#items/anyOf/0/properties/active",
                                            "type": "boolean",
                                            "title": "Індикатор активності статусу особи"
                                        },
                                        "name": {
                                            "$id": "#items/anyOf/0/properties/name",
                                            "type": "string",
                                            "title": "ПІБ (назва) публічної особи (близької, пов'язаної)",
                                            "description": "ПІБ (назва) публічної особи (близької, пов'язаної)"
                                        },
                                        "aka": {
                                            "$id": "#items/anyOf/0/properties/aka",
                                            "type": "string",
                                            "title": "Альтернативні ПІБ (назви) публічної особи (близької, пов'язаної)",
                                            "description": "Альтернативні ПІБ (назва) публічної особи (близької, пов'язаної)"
                                        },
                                        "type": {
                                            "$id": "#items/anyOf/0/properties/type",
                                            "type": "number",
                                            "title": "Тип особи",
                                            "description": "Тип особи (0 – фізична, 1 - юридична)"
                                        },
                                        "dateb": {
                                            "$id": "#items/anyOf/0/properties/dateb",
                                            "type": "string",
                                            "title": "Дата народження",
                                            "description": "Дата народження публічної особи (близької, пов'язаної)"
                                        },
                                        "yearb": {
                                            "$id": "#items/anyOf/0/properties/yearb",
                                            "type": "string",
                                            "title": "Рік народження",
                                            "description": "Рік народження публічної особи (близької, пов'язаної) в разі відсутності інформації про дату народження"
                                        },
                                        "dateendpep": {
                                            "$id": "#items/anyOf/0/properties/dateendpep",
                                            "type": "string",
                                            "title": "Дата припинення",
                                            "description": "Дата припинення у особи статусу «Публічна»"
                                        },
                                        "pependcomment": {
                                            "$id": "#items/anyOf/0/properties/pependcomment",
                                            "type": "string",
                                            "title": "Коментар",
                                            "description": "Коментар щодо припинення у особи статусу «Публічна»"
                                        },
                    
                                        "job": {
                                            "$id": "#items/anyOf/0/properties/job",
                                            "type": "string",
                                            "title": "Посада",
                                            "description": "Посада публічної особи (близької, пов'язаної)"
                                        },
                                        "region": {
                                            "$id": "#items/anyOf/0/properties/region",
                                            "type": "string",
                                            "title": "Регіон діяльності",
                                            "description": "Регіон діяльності публічної особи (близької, пов'язаної)"
                                        },
                                        "country": {
                                            "$id": "#items/anyOf/0/properties/country",
                                            "type": "object",
                                            "title": "Блок інформації про ризиковість країни",
                                            "$ref": "https://check.finap.com.ua/apiinfo/schema/v1/country.json"
                                        },
                                        "ipn": {
                                            "$id": "#items/anyOf/0/properties/ipn",
                                            "type": "string",
                                            "title": "ЄДРПОУ пов'язаної особи",
                                            "description": "ЄДРПОУ пов'язаної особи"
                                        },
                                        "photo": {
                                            "$id": "#items/anyOf/0/properties/photo",
                                            "type": "string",
                                            "title": "Фото",
                                            "description": "Посилання на фото публічної особи (близької, пов'язаної)"
                                        },
                                        "categoryPEP": {
                                            "$id": "#items/anyOf/0/properties/categoryPEP",
                                            "type": "string",
                                            "title": "Категорії публічності",
                                            "description": "Категорії, до яких відноситься публічної особи (близької, пов'язаної) згідно довідника НБУ K019"
                                        },
                                        "typePEP": {
                                            "$id": "#items/anyOf/0/properties/typePEP",
                                            "type": "number",
                                            "title": "Цифрове значення загальної категорії публічної особи (близької, пов'язаної)",
                                            "description": "Цифрове значення загальної категорії публічної особи (близької, пов'язаної) (0 - публічні діячі - фізичні особи, які виконують визначні публічні функції, 1-БЛИЗЬКА ОСОБА,2-ПОВ’ЯЗАНА ОСОБА, 3 - публічні діячі - фізичні особи, які виконували визначні публічні функції)"
                                        },
                                        "descriptiontypePEP": {
                                            "$id": "#items/anyOf/0/properties/descriptiontypePEP",
                                            "type": "string",
                                            "title": "Цифрові значення категорій, до яких відноситься публічна особа (близька, пов'язана) згідно довідника НБУ K019",
                                            "description": "Цифрові значення категорій, до яких відноситься публічна особа (близька, пов'язана) згідно довідника НБУ K019"
                                        },
                                        "foreign_relation": {
                                            "$id": "#items/anyOf/0/properties/foreign_relation",
                                            "type": "boolean",
                                            "title": "Зв'язок з іноземними PEPs"
                                        },
                                        "percent": {
                                            "$id": "#items/anyOf/0/properties/percent",
                                            "type": "number",
                                            "title": "Відсоток співпадіння",
                                            "description": "Відсоток співпадіння за ПІБ"
                                        },
                                        "level": {
                                            "$id": "#items/anyOf/0/properties/level",
                                            "type": "string",
                                            "title": "Рівень співпадіння в реєстрі",
                                            "description": "Поле level може приймати два значення «Низький» і «Високий». Високий рівень співпадіння можливий лише у випадку виконання двох умов: Для юридичних осіб: значення вхідного параметру ipn (ЄДРПОУ) співпадає із значенням вихідного параметру ipn. Для фізичних осіб: Значення вхідного параметру name (ПІБ клієнта) або namelat (транслітерація ПІБ клієнта згідно українського законодавства) повністю співпадають з ПІБ клієнта (поле name відповіді) або присутнє в переліку альтернативних імен (поле aka) в повному вигляді та у вхідному запиті повинен бути присутнім  додатковий параметрів (дата народження (вхідний параметр date) і значення цього параметру відповідає значенню поля відповіді dateb. Всі решта варіанти відповіді будуть мати «Низький» рівень співпадіння."
                                        },
                                        "sources": {
                                            "$id": "#items/anyOf/0/properties/sources",
                                            "type": "array",
                                            "title": "Масив даних про джерела інформації по особі",
                                            "description": "Дані по джерела інформації по особі",
                                            "items": {
                                                "$id": "#items/anyOf/0/properties/sources/items",
                                                "anyOf": [
                                                    {
                                                        "$id": "#items/anyOf/0/properties/sources/items/anyOf/0",
                                                        "type": "object",
                                                        "properties": {
                                                            "site": {
                                                                "$id": "#items/anyOf/0/properties/sources/items/anyOf/0/properties/site",
                                                                "type": "string",
                                                                "title": "Посилання на офіційне джерело",
                                                                "description": "Посилання на офіційне джерело"
                                                            },
                                                            "pdf": {
                                                                "$id": "#items/anyOf/0/properties/sources/items/anyOf/0/properties/pdf",
                                                                "type": "string",
                                                                "title": "Посилання на файл pdf на сайті FinAP",
                                                                "description": "Посилання на файл pdf на сайті FinAP. У разі недоступності джерела за посиланням, даний файл може слугувати підтвердженням"
                                                            },
                                                            "brief": {
                                                                "$id": "#items/anyOf/0/properties/sources/items/anyOf/0/properties/brief",
                                                                "type": "string",
                                                                "title": "Опис посилання",
                                                                "description": "Опис посилання"
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "declarations": {
                                            "$id": "#items/anyOf/0/properties/declarations",
                                            "type": "array",
                                            "title": "Масив даних Декларації",
                                            "description": "Дані по деклараціях",
                                            "items": {
                                                "$id": "#items/anyOf/0/properties/declarations/items",
                                                "anyOf": [
                                                    {
                                                        "$id": "#items/anyOf/0/properties/declarations/items/anyOf/0",
                                                        "type": "object",
                                                        "properties": {
                                                            "d_name": {
                                                                "$id": "#items/anyOf/0/properties/declarations/items/anyOf/0/properties/d_name",
                                                                "type": "string",
                                                                "title": "Тип декларації",
                                                                "description": "Тип декларації"
                                                            },
                                                            "d_year": {
                                                                "$id": "#items/anyOf/0/properties/declarations/items/anyOf/0/properties/d_year",
                                                                "type": "string",
                                                                "title": "Рік декларації",
                                                                "description": "Рік декларації"
                                                            },
                                                            "d_link": {
                                                                "$id": "#items/anyOf/0/properties/declarations/items/anyOf/0/properties/d_link",
                                                                "type": "string",
                                                                "title": "Лінк на декларацію на сайт НАЗК",
                                                                "description": "Лінк на декларацію на сайт НАЗК"
                                                            },
                                                            "d_pdf": {
                                                                "$id": "#items/anyOf/0/properties/declarations/items/anyOf/0/properties/d_pdf",
                                                                "type": "string",
                                                                "title": "Лінк на декларацію у форматі PDF на сайті FinAP",
                                                                "description": "Лінк на декларацію у форматі PDF на сайті FinAP. У разі недоступності джерела за посиланням, даний файл може слугувати підтвердженням"
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "jobdetails": {
                                            "$id": "#items/anyOf/0/properties/jobdetails",
                                            "type": "array",
                                            "title": "Масив даних відомості про роботу",
                                            "description": "Масив даних відомості про роботу",
                                            "items": {
                                                "$id": "#items/anyOf/0/properties/jobdetails/items",
                                                "anyOf": [
                                                    {
                                                        "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0",
                                                        "type": "object",
                                                        "properties": {
                                                            "jobplace": {
                                                                "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0/properties/jobplace",
                                                                "type": "string",
                                                                "title": "Найменування місця роботи",
                                                                "description": "Найменування місця роботи"
                                                            },
                                                            "jobbegin": {
                                                                "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0/properties/jobbegin",
                                                                "type": "string",
                                                                "title": "Дата початку роботи на посаді",
                                                                "description": "Дата початку роботи на посаді"
                                                            },
                                                            "jobend": {
                                                                "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0/properties/jobend",
                                                                "type": "string",
                                                                "title": "Дата завершення роботи на посаді",
                                                                "description": "Дата завершення роботи на посаді"
                                                            },
                                                            "jobpost": {
                                                                "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0/properties/jobpost",
                                                                "type": "string",
                                                                "title": "Найменування посади",
                                                                "description": "Найменування посади"
                                                            },
                                                            "jobedrpou": {
                                                                "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0/properties/jobedrpou",
                                                                "type": "string",
                                                                "title": "Код ЄДРПОУ місця роботи",
                                                                "description": "Код ЄДРПОУ місця роботи"
                                                            },
                    		                        "jobcountry": {
                                    		            "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0/properties/jobcountry",
                    		                            "type": "object",
                                    		            "title": "Блок інформації про ризиковість країни",
                    		                            "$ref": "https://check.finap.com.ua/apiinfo/schema/v1/country.json"
                                    		        },
                                                            "links": {
                                                                "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0/properties/links",
                                                                "type": "array",
                                                                "title": "Масив даних Посилання на джерела відомостей про роботу",
                                                                "description": "Масив даних Посилання на джерела відомостей про роботу",
                                                                "items": {
                                                                    "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0/properties/links/items",
                                                                    "anyOf": [
                                                                        {
                                                                            "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0/properties/links/items/anyOf/0",
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "site": {
                                                                                    "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0/properties/links/items/anyOf/0/properties/site",
                                                                                    "type": "string",
                                                                                    "title": "Посилання на офіційне джерело",
                                                                                    "description": "Посилання на офіційне джерело"
                                                                                },
                                                                                "pdf": {
                                                                                    "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0/properties/links/items/anyOf/0/properties/pdf",
                                                                                    "type": "string",
                                                                                    "title": "Посилання на файл pdf на сайті FinAP",
                                                                                    "description": "Посилання на файл pdf на сайті FinAP. У разі недоступності джерела за посиланням, даний файл може слугувати підтвердженням"
                                                                                },
                                                                                "brief": {
                                                                                    "$id": "#items/anyOf/0/properties/jobdetails/items/anyOf/0/properties/links/items/anyOf/0/properties/brief",
                                                                                    "type": "string",
                                                                                    "title": "Опис посилання",
                                                                                    "description": "Опис посилання"
                                                                                }
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "relatedPersons": {
                                            "$id": "#items/anyOf/0/properties/relatedPersons",
                                            "type": "array",
                                            "title": "Масив даних Пов'язані особи",
                                            "description": "Масив даних Пов'язані особи до даної публічної особи",
                                            "items": {
                                                "$id": "#items/anyOf/0/properties/relatedPersons/items",
                                                "anyOf": [
                                                    {
                                                        "$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0",
                                                        "type": "object",
                                                        "properties": {
                                                            "relateid": {
                                                                "$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/relateid",
                                                                "type": "number",
                                                                "title": "Унікальний ідентифікатор особи в реєстрі",
                                                                "description": "Унікальний ідентифікатор особи в реєстрі"
                                                            },
                    				        "active": {
                                              			"$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/active",
                    			                        "type": "boolean",
                                            			"title": "Індикатор активності статусу особи"
                    		                        },
                                                            "relatepib": {
                                                                "$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/relatepib",
                                                                "type": "string",
                                                                "title": "Найменування/ПІБ пов'язаної особи",
                                                                "description": "Найменування/ПІБ пов'язаної особи"
                                                            },
                                                            "relateaka": {
                                                                "$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/relateaka",
                                                                "type": "string",
                                                                "title": "Перелік альтернативного найменування/ПІБ пов'язаної особи",
                                                                "description": "Перелік альтернативного пов'язаної особи"
                                                            },
                                                            "relatetype": {
                                                                "$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/relatetype",
                                                                "type": "number",
                                                                "title": "Тип особи"
                                                            },
                    		                        "country": {
                                    		            "$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/country",
                    		                            "type": "object",
                                    		            "title": "Блок інформації про ризиковість країни",
                    		                            "$ref": "https://check.finap.com.ua/apiinfo/schema/v1/country.json"
                                    		        },
                                                            "relatedatebith": {
                                                                "$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/relatedatebith",
                                                                "type": "string",
                                                                "title": "Дата народження особи"
                                                            },
                                                            "relatebrief": {
                                                                "$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/relatebrief",
                                                                "type": "string",
                                                                "title": "Тип пов'язання",
                                                                "description": "Тип пов'язання"
                                                            },
                                                            "relatebrief_id": {
                                                                "$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/relatebrief_id",
                                                                "type": "number",
                                                                "title": "Ідентифікатор типу пов'язання"
                                                            },
                                                            "relatelink": {
                                                                "$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/relatelink",
                                                                "type": "number",
                                                                "title": "Цифровий код зв'язку згідно довідника НБУ K019",
                                                                "description": "Цифровий код зв'язку згідно довідника НБУ K019"
                                                            },
                                                            "relatecod": {
                                                                "$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/relatecod",
                                                                "type": "string",
                                                                "title": "Код ЄДРПОУ пов'язаної особи",
                                                                "description": "Код ЄДРПОУ пов'язаної особи"
                                                            },
                                                            "relateorg": {
                                                                "$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/relateorg",
                                                                "type": "string",
                                                                "title": "Перелік ЄДРПОУ організацій (через які будується пов'язаність по КБВ при не прямому звязку)",
                                                                "description": "Перелік ЄДРПОУ організацій (через які будується пов'язаність по КБВ при не прямому звязку)"
                                                            },
                    				        "archivelink": {
                                              			"$id": "#items/anyOf/0/properties/relatedPersons/items/anyOf/0/properties/archivelink",
                    			                        "type": "boolean",
                                            			"title": "Індикатор архівності зв'язку"
                    		                        }
                    
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "relatedPeps": {
                                            "$id": "#items/anyOf/0/properties/relatedPeps",
                                            "type": "array",
                                            "title": "Масив даних Пов'язаність з ПЕПами",
                                            "description": "Масив публічних осіб пов'язаних з даною особою",
                                            "items": {
                                                "$id": "#items/anyOf/0/properties/relatedPeps/items",
                                                "anyOf": [
                                                    {
                                                        "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0",
                                                        "type": "object",
                                                        "properties": {
                                                            "idpep": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/idpep",
                                                                "type": "number",
                                                                "title": "Унікальний ідентифікатор особи в реєстрі",
                                                                "description": "Унікальний ідентифікатор особи в реєстрі"
                                                            },
                    				        "active": {
                                              			"$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/active",
                    			                        "type": "boolean",
                                            			"title": "Індикатор активності статусу особи"
                    		                        },
                                                            "namerpep": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/namerpep",
                                                                "type": "string",
                                                                "title": "ПІБ",
                                                                "description": "ПІБ публічної особи"
                                                            },
                                                            "akarpep": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/akarpep",
                                                                "type": "string",
                                                                "title": "Перелік альтернативних ПІБ публічної особи",
                                                                "description": "Перелік альтернативних ПІБ публічної особи"
                                                            },
                                                            "type": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/relatetype",
                                                                "type": "number",
                                                                "title": "Тип особи"
                                                            },
                    		                        "country": {
                                    		            "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/country",
                    		                            "type": "object",
                                    		            "title": "Блок інформації про ризиковість країни",
                    		                            "$ref": "https://check.finap.com.ua/apiinfo/schema/v1/country.json"
                                    		        },
                                                            "datebirthpep": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/datebirthpep",
                                                                "type": "string",
                                                                "title": "Дата народження PEP"
                                                            },
                                                            "categoryrpep": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/categoryrpep",
                                                                "type": "string",
                                                                "title": "Категорія публічності",
                                                                "description": "Категорія публічної особи"
                                                            },
                                                            "descriptiontyperpep": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/descriptiontyperpep",
                                                                "type": "string",
                                                                "title": "Цифрове значення категорії публічності пов’язаної публічної особи"
                                                            },
                    
                                                            "briefrpep": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/briefrpep",
                                                                "type": "string",
                                                                "title": "Тип відношення",
                                                                "description": "Відношення до Публічної особи (наприклад: дочка, дружина, мати, бенефіціар і т.і.)"
                                                            },
                                                            "linkrpep": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/linkrpep",
                                                                "type": "number",
                                                                "title": "Цифровий код зв'язку згідно довідника НБУ K019",
                                                                "description": "Цифровий код зв'язку згідно довідника НБУ K019"
                                                            },
                                                            "photorpep": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/photorpep",
                                                                "type": "string",
                                                                "title": "Фото",
                                                                "description": "Посилання на фото публічної особи"
                                                            },
                                                            "jobrpep": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/jobrpep",
                                                                "type": "string",
                                                                "title": "Посада",
                                                                "description": "Посада публічної особи"
                                                            },
                                                            "relateorg": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/relateorg",
                                                                "type": "string",
                                                                "title": "Перелік ЄДРПОУ організацій (через які будується пов'язаність по КБВ при не прямому звязку)",
                                                                "description": "Перелік ЄДРПОУ організацій (через які будується пов'язаність по КБВ при не прямому звязку)"
                                                            },
                    				        "archivelink": {
                                              			"$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/archivelink",
                    			                        "type": "boolean",
                                            			"title": "Індикатор архівності зв'язку"
                    		                        },
                                                            "links": {
                                                                "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/links",
                                                                "type": "array",
                                                                "title": "Масив даних Посилання на джерела пов'язаність з ПЕПами",
                                                                "description": "Масив даних Посилання на джерела пов'язаність з ПЕПами",
                                                                "items": {
                                                                    "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/links/items",
                                                                    "anyOf": [
                                                                        {
                                                                            "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/links/items/anyOf/0",
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "site": {
                                                                                    "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/links/items/anyOf/0/properties/site",
                                                                                    "type": "string",
                                                                                    "title": "Посилання на офіційне джерело",
                                                                                    "description": "Посилання на офіційне джерело"
                                                                                },
                                                                                "pdf": {
                                                                                    "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/links/items/anyOf/0/properties/pdf",
                                                                                    "type": "string",
                                                                                    "title": "Посилання на файл pdf на сайті FinAP",
                                                                                    "description": "Посилання на файл pdf на сайті FinAP. У разі недоступності джерела за посиланням, даний файл може слугувати підтвердженням"
                                                                                },
                                                                                "brief": {
                                                                                    "$id": "#items/anyOf/0/properties/relatedPeps/items/anyOf/0/properties/links/items/anyOf/0/properties/brief",
                                                                                    "type": "string",
                                                                                    "title": "Опис посилання",
                                                                                    "description": "Опис посилання"
                                                                                }
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                      
                    
                    },
                    "psanctions": {
                        "$id": "#/properties/result/properties/psanctions",
                        "description": "Масив даних відповіді реєстру 'Санкції та застереження'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Санкції та застереження",
                        "type": [
                            "array",
                            "string"
                        ],
                        "items": {
                              "$id": "#items",
                              "anyOf": [
                                  {
                                      "$id": "#items/anyOf/0",
                                      "type": "object",
                                      "properties": {
                                          "pid": {
                                              "$id": "#items/anyOf/0/properties/pid",
                                              "type": "string",
                                              "title": "Ідентифікатор в реєстрі",
                                              "description": "Ідентифікатор санкційної особи в реєстрі"
                                          },
                                          "active": {
                                              "$id": "#items/anyOf/0/properties/active",
                                              "type": "boolean",
                                              "title": "Активні санкції",
                                              "description": "Ідентифікатор наявності в анкеті особи діючих санкцій серед обраного масиву санкційних списків, по яких було здійснено пошук"
                                          },
                                          "p_active": {
                                              "$id": "#items/anyOf/0/properties/p_active",
                                              "type": "string",
                                              "title": "Актуальні санкції",
                                              "description": "Наявність в анкеті санкційної особи актуальних санкцій"
                                          },
                                          "s_type": {
                                              "$id": "#items/anyOf/0/properties/s_type",
                                              "type": "number",
                                              "title": "Тип пов’язаності до санкції",
                                              "description": "Тип пов’язаності до санкції (1 - санкційна особа, 2 - підконтрольна особа, 3 - особа із застереженнями)"
                                          },
                                          "p_fullname": {
                                              "$id": "#items/anyOf/0/properties/p_fullname",
                                              "type": "string",
                                              "title": "ПІБ/Назва особи"
                                          },
                                          "p_akas": {
                                              "$id": "#items/anyOf/0/properties/p_akas",
                                              "type": "array",
                    			  "items": {
                    			  	"type": "string"
                      		           },
                                              "title": "Альтернативні назви/ПІБ",
                                              "description": "Масив альтернативнтх назв/ПІБ"
                                          },
                                          "p_type": {
                                              "$id": "#items/anyOf/0/properties/p_type",
                                              "type": "number",
                                              "title": "Тип особи",
                                              "description": "Тип особи (0 – фізична, 1 - юридична)"
                                          },
                                          "p_birthdate": {
                                              "$id": "#items/anyOf/0/properties/p_birthdate",
                                              "type": "string",
                                              "title": "Дата народження"
                                          },
                                          "p_birthdates": {
                                              "$id": "#items/anyOf/0/properties/p_birthdates",
                                              "type": "array",
                    			  "items": {
                    			  	"type": "string"
                      		           },
                                              "title": "Альтернативні дати народження",
                                              "description": "Масив альтернативнтх дат народжень (можливо часткових)"
                                          },
                                          "p_birthplaces": {
                                              "$id": "#items/anyOf/0/properties/p_birthplaces",
                                              "type": "array",
                    			  "items": {
                    			  	"type": "string"
                      		           },
                                              "title": "Місце народження",
                                              "description": "Масив місць народження"
                                          },
                                          "p_address": {
                                              "$id": "#items/anyOf/0/properties/p_address",
                                              "type": "array",
                    			  "items": {
                    			  	"type": "string"
                      		           },
                                              "title": "Адреси",
                                              "description": "Масив адрес"
                                          },
                                          "p_photo": {
                                              "$id": "#items/anyOf/0/properties/p_photo",
                                              "type": "string",
                                              "title": "Посилання на фото"
                                          },
                                          "p_comment": {
                                              "$id": "#items/anyOf/0/properties/p_comment",
                                              "type": "string",
                                              "title": "Коментар"
                                          },
                                          "p_country": {
                                              "$id": "#items/anyOf/0/properties/p_country",
                                              "type": "number",
                                              "title": "Ідентифікатор країни громадянства"
                                          },
                                          "country": {
                                              "$id": "#items/anyOf/0/properties/country",
                                              "type": "object",
                                              "title": "Блок інформації про ризиковість країну",
                                              "$ref": "https://check.finap.com.ua/apiinfo/schema/v1/country.json"
                                          },
                                          "p_countries": {
                                              "$id": "#items/anyOf/0/properties/p_countries",
                                              "type": "array",
                    			  "items": {
                    			  	"type": "string"
                      		           },
                                              "title": "Інші країни пов'язані з особою"
                                          },
                                          "p_idcode": {
                                              "$id": "#items/anyOf/0/properties/p_idcode",
                                              "type": "array",
                    			  "items": {
                    			  	"type": "string"
                      		           },
                                              "title": "Масив кодів особи"
                                          },
                                          "p_docs": {
                                              "$id": "#items/anyOf/0/properties/p_docs",
                                              "type": "array",
                    			  "items": {
                    			  	"type": "string"
                      		           },
                                              "title": "Масив документів"
                                          },
                                          "p_lists": {
                                              "$id": "#items/anyOf/0/properties/p_lists",
                                              "type": "string",
                                              "title": "Перелік санкційних списків, де присутня особа"
                                          },
                                          "p_listdata": {
                                              "$id": "#items/anyOf/0/properties/p_listdata",
                                              "type": "number",
                                              "title": "Перелік санкційних списків у числовому форматі, де присутня особа"
                                          },
                                          "sanction": {
                                              "$id": "#items/anyOf/0/properties/sanction",
                                              "type": "array",
                                              "title": "Масив інформації про активні санкції",

                                              "items": {
                                                    "$id": "#items",
                                                    "anyOf": [
                                                        {
                                                            "$id": "#items/anyOf/0",
                                                            "type": "object",
                                                            "properties": {
                                                                "sanctionId": {
                                                                    "$id": "#items/anyOf/0/properties/sanctionId",
                                                                    "type": "string",
                                                                    "title": "Ідентифікатор в реєстрі",
                                                                    "description": "Ідентифікатор санкційної особи в реєстрі"
                                                                },
                                                                "list": {
                                                                    "$id": "#items/anyOf/0/properties/list",
                                                                    "type": "string",
                                                                    "title": "Ідентифікатор санкційного списку",
                                                                    "description": "Ідентифікатор санкційного списку (РНБО,ДСФМУ,UK,EU,UN,OFAC,CANADA,...)"
                                                                },
                                                                "list_info": {
                                                                    "$id": "#items/anyOf/0/properties/list_info",
                                                                    "type": "object",
                                                                    "title": "Блок щодо інформації про санкційний список (або список застережень)",
                                                                    "properties": {
                                                                        "list": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/list",
                                                                            "type": "string",
                                                                            "title": "Ідентифікатор списку"
                                                                        },
                                                                        "name": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/name",
                                                                            "type": "string",
                                                                            "title": "Найменування списку"
                                                                        },
                                                                        "altname": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/altname",
                                                                            "type": "string",
                                                                            "title": "Альтернативне найменування списку"
                                                                        },
                                                                        "territory": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/territory",
                                                                            "type": "string",
                                                                            "title": "Країна (територія) якій належить список"
                                                                        },
                                                                        "cca2": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/cca2",
                                                                            "type": "string",
                                                                            "title": "Буквений ідентифікатор країни (території) якій належить список"
                                                                        },
                                                                        "publisher": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/publisher",
                                                                            "type": "string",
                                                                            "title": "Видавець список"
                                                                        },
                                                                        "individual": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/individual",
                                                                            "type": "number",
                                                                            "title": "К-сть записів щодо фіз осіб"
                                                                        },
                                                                        "entity": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/entity",
                                                                            "type": "number",
                                                                            "title": "К-сть записів щодо юр осіб"
                                                                        },
                                                                        "all": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/all",
                                                                            "type": "number",
                                                                            "title": "Загальна к-сть записів"
                                                                        },
                                                                        "loadDate": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/loadDate",
                                                                            "type": "string",
                                                                            "title": "Дата та час крайнього завантаження списку"
                                                                        },
                                                                        "description": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/description",
                                                                            "type": "string",
                                                                            "title": "Опис списку"
                                                                        },
                                                                        "source": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/source",
                                                                            "type": "string",
                                                                            "title": "Посилання на джерело списку"
                                                                        },
                                                                        "listDate": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/listDate",
                                                                            "type": "string",
                                                                            "title": "Дата актуальності списку"
                                                                        },
                                                                        "list_type": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/list_type",
                                                                            "type": "number",
                                                                            "title": "Тип списку",
                                          	                          "description": "Тип списку (1 - санкційний, 2 - застереження)"
                                                                        }
                                                                    }
                                                                },
                                                                "name": {
                                                                    "$id": "#items/anyOf/0/properties/name",
                                                                    "type": "string",
                                                                    "title": "ПІБ або найменування особи",
                                                                    "description": "ПІБ або найменування підсанкційної особи"
                                                                },
                                                                "address": {
                                                                    "$id": "#items/anyOf/0/properties/address",
                                                                    "type": "string",
                                                                    "title": "Адреса",
                                                                    "description": "Перелік пов'язаних з даною підсанкційної особи адрес розділених символом #"
                                                                },
                                                                "doc": {
                                                                    "$id": "#items/anyOf/0/properties/doc",
                                                                    "type": "string",
                                                                    "title": "Документ",
                                                                    "description": "Перелік пов'язаних з даною підсанкційної особи документів розділених символом #"
                                                                },
                                                                "birthdayDate": {
                                                                    "$id": "#items/anyOf/0/properties/birthdayDate",
                                                                    "type": "string",
                                                                    "title": "Дата народження",
                                                                    "description": "Перелік можливих дат народження підсанкційної особи, в деяких випадках рік народження розділених символом #"
                                                                },
                                                                "aka": {
                                                                    "$id": "#items/anyOf/0/properties/aka",
                                                                    "type": "string",
                                                                    "title": "Альтернативні імена, назви, звання",
                                                                    "description": "Перелік альтернативних імен, назв, званнь підсанкційної особи розділених символом #"
                                                                },
                                                                "birthdayPlace": {
                                                                    "$id": "#items/anyOf/0/properties/birthdayPlace",
                                                                    "type": "string",
                                                                    "title": "Місце народження",
                                                                    "description": "Перелік можливих місць народження підсанкційної особи розділених символом #"
                                                                },
                                                                "citizenship": {
                                                                    "$id": "#items/anyOf/0/properties/citizenship",
                                                                    "type": "string",
                                                                    "title": "Громадянства",
                                                                    "description": "Перелік громадянств підсанкційної особи розділених символом #"
                                                                },
                                                                "entityType": {
                                                                    "$id": "#items/anyOf/0/properties/entityType",
                                                                    "type": "string",
                                                                    "title": "Тип санкцій",
                                                                    "description": "Тип санкцій (ГРУПОВІ або ПЕРСОНАЛЬНІ)"
                                                                },
                                                                "gender": {
                                                                    "$id": "#items/anyOf/0/properties/gender",
                                                                    "type": "string",
                                                                    "title": "Стать",
                                                                    "description": "Стать підсанкційної особи"
                                                                },
                                                                "insertDate": {
                                                                    "$id": "#items/anyOf/0/properties/insertDate",
                                                                    "type": "string",
                                                                    "title": "Дата внесення в санкційний список",
                                                                    "description": "Дата внесення в санкційний список"
                                                                },
                                                                "lastModifyDate": {
                                                                    "$id": "#items/anyOf/0/properties/lastModifyDate",
                                                                    "type": "string",
                                                                    "title": "Дата внесення змін",
                                                                    "description": "Дата (або перелік у вигляді масиву дат [] розділених комою) внесення змін"
                                                                },
                                                                "nationality": {
                                                                    "$id": "#items/anyOf/0/properties/nationality",
                                                                    "type": "string",
                                                                    "title": "Національність",
                                                                    "description": "Перелік національностей до яких може відноситися підсанкційна особа розділених символом #"
                                                                },
                                                                "originalName": {
                                                                    "$id": "#items/anyOf/0/properties/originalName",
                                                                    "type": "string",
                                                                    "title": "ПІБ(назва) на мові оригіналу",
                                                                    "description": "ПІБ(назва) на мові оригіналу"
                                                                },
                                                                "position": {
                                                                    "$id": "#items/anyOf/0/properties/position",
                                                                    "type": "string",
                                                                    "title": "Посада",
                                                                    "description": "Посада підсанкційної особи"
                                                                },
                                                                "remark": {
                                                                    "$id": "#items/anyOf/0/properties/remark",
                                                                    "type": "string",
                                                                    "title": "Додаткова інформація",
                                                                    "description": "Додаткова інформація по підсанкційній особі"
                                                                },
                                                                "source": {
                                                                    "$id": "#items/anyOf/0/properties/source",
                                                                    "type": "string",
                                                                    "title": "Приналежність до групи санкцій",
                                                                    "description": "Приналежність до групи санкцій. Для РНБО - Термін санкцій"
                                                                },
                                                                "title": {
                                                                    "$id": "#items/anyOf/0/properties/title",
                                                                    "type": "string",
                                                                    "title": "Звання",
                                                                    "description": "Звання підсанкційної особи"
                                                                },
                                                                "vessel": {
                                                                    "$id": "#items/anyOf/0/properties/vessel",
                                                                    "type": "string",
                                                                    "title": "Рухоме майно підсанкційної особи",
                                                                    "description": "Рухоме майно підсанкційної особи, на яке було накладено санкції"
                                                                },
                                                                "work": {
                                                                    "$id": "#items/anyOf/0/properties/work",
                                                                    "type": "string",
                                                                    "title": "Місце роботи",
                                                                    "description": "Місце роботи підсанкційної особи"
                                                                },
                                                                "period": {
                                                                    "$id": "#items/anyOf/0/properties/period",
                                                                    "type": "string",
                                                                    "title": "Кількість років дії санкції",
                                                                    "description": "Кількість років дії санкції"
                                                                },
                                                                "related": {
                                                                    "$id": "#items/anyOf/0/properties/related",
                                                                    "type": "number",
                                                                    "title": "Бітова маска приналежності підсанкційної особи до країни",
                                                                    "description": "Бітова маска приналежності підсанкційної особи до країни"
                                                                },
                                                                "percent": {
                                                                    "$id": "#items/anyOf/0/properties/percent",
                                                                    "type": "number",
                                                                    "title": "Відсоток співпадіння за ПІБ або назвою",
                                                                    "description": "Використовується тільки якщо санкцію було знайдемо поза анкетою!!! Відсоток співпадіння за ПІБ або назвою (також серед альтернативних назв (ПІБ))"
                                                                },
                                                                "level": {
                                                                    "$id": "#items/anyOf/0/properties/level",
                                                                    "type": "string",
                                                                    "title": "Рівень співпадіння в реєстрі",
                                                                    "description": "Використовується тільки якщо санкцію було знайдемо поза анкетою!!! Поле level може приймати два значення «Низький» і «Високий». Високий рівень співпадіння можливий лише у випадку виконання двох умов: Для юридичних осіб: значення вхідного параметру ipn (ЄДРПОУ) міститься у переліку документів (вихідний параметр doc) або (так як у санкційних списках не завжди присутній ЄДРПОУ) значення вхідного параметру name (назва клієнта) або namelat (транслітерація назви клієнта згідно українського законодавства) повністю співпадають з назвою клієнта (поле name відповіді) чи присутнє в переліку альтернативних імен (поле aka) в повному вигляді. Для фізичних осіб: значення вхідного параметру ipn (ІПН) міститься у переліку документів (вихідний параметр doc). Якщо це не так тоді значення вхідного параметру name (ПІБ клієнта) або namelat (транслітерація ПІБ клієнта згідно українського законодавства) повністю співпадають з ПІБ клієнта (поле name відповіді) або присутнє в переліку альтернативних імен (поле aka) в повному вигляді та у вхідному запиті повинен бути присутнім додатковий параметр (дата народження (вхідний параметр date))  і значення цього параметру міститься у переліку відповідному полі відповіді birthdayDate (тому що це не безпосередньо дата, а перелік). Всі решта варіанти відповіді будуть мати «Низький» рівень співпадіння."
                                                                },
                                                                "sanctionSource": {
                                                                    "$id": "#items/anyOf/0/properties/sanctionSource",
                                                                    "type": "object",
                                                                    "title": "Блок щодо інформації про наказ президента",
                                                                    "description": "Блок щодо інформації про наказ президента. Присутній в санкціях по РНБО.",
                                                                    "properties": {
                                                                        "norder": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/norder",
                                                                            "type": "string",
                                                                            "title": "Назва документу",
                                                                            "description": "Назва документу (наказу)"
                                                                        },
                                                                        "dateorder": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/dateorder",
                                                                            "type": "string",
                                                                            "title": "Дата документу",
                                                                            "description": "Дата документ (наказу)"
                                                                        },
                                                                        "weblink": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/weblink",
                                                                            "type": "string",
                                                                            "title": "Посилання на документ",
                                                                            "description": "посилання на документ"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    ]
                                              }                                          
                                          },
                                          "sanction_lost": {
                                              "$id": "#items/anyOf/0/properties/sanction_lost",
                                              "type": "array",
                                              "title": "Масив інформації про вилучені/втрачені санкції",
                                              "items": {
                                                    "$id": "#items",
                                                    "anyOf": [
                                                        {
                                                            "$id": "#items/anyOf/0",
                                                            "type": "object",
                                                            "properties": {
                                                                "sanctionId": {
                                                                    "$id": "#items/anyOf/0/properties/sanctionId",
                                                                    "type": "string",
                                                                    "title": "Ідентифікатор в реєстрі",
                                                                    "description": "Ідентифікатор санкційної особи в реєстрі"
                                                                },
                                                                "list": {
                                                                    "$id": "#items/anyOf/0/properties/list",
                                                                    "type": "string",
                                                                    "title": "Ідентифікатор санкційного списку",
                                                                    "description": "Ідентифікатор санкційного списку (РНБО,ДСФМУ,UK,EU,UN,OFAC,CANADA,...)"
                                                                },
                                                                "list_info": {
                                                                    "$id": "#items/anyOf/0/properties/list_info",
                                                                    "type": "object",
                                                                    "title": "Блок щодо інформації про санкційний список (або список застережень)",
                                                                    "properties": {
                                                                        "list": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/list",
                                                                            "type": "string",
                                                                            "title": "Ідентифікатор списку"
                                                                        },
                                                                        "name": {
                                                                            "$id": "#items/anyOf/0/properties/sanctionSource/properties/name",
[...]
