{
  "openapi": "3.1.0",
  "info": {
    "title": "Swagger Check List",
    "description": "Це приклад надсилання АПІ запитів до реєстрів Check List",
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://finap.com.ua:9443"
    }
  ],
  "tags": [
    {
      "name": "pep",
      "description": "Публічно-значущі особи"
    },
    {
      "name": "sanction",
      "description": "Санкційні списки"
    },
    {
      "name": "lostdocs",
      "description": "Втрачені/недійсні паспорта"
    },
    {
      "name": "edr",
      "description": "Причетність до ЮО"
    },
    {
      "name": "edrinfo",
      "description": "ЄДР ЮО і ФОП"
    },
    {
      "name": "edrfullinfo",
      "description": "ЄДР ЮО і ФОП (розширений)"
    },
    {
      "name": "edrchanges",
      "description": "Зміни в ЮО"
    },
    {
      "name": "debtor",
      "description": "Боржники"
    },
    {
      "name": "licenses",
      "description": "Ліцензії"
    },
    {
      "name": "justice",
      "description": "Судові справи"
    },
    {
      "name": "executive",
      "description": "Виконавчі провадження"
    },
    {
      "name": "zrada",
      "description": "Державні зрадники"
    },
    {
      "name": "okupant",
      "description": "Окупанти"
    },
    {
      "name": "nonrezedent",
      "description": "Нерезеденти"
    },
    {
      "name": "notarius",
      "description": "Нотаріуси"
    },
    {
      "name": "bankrupt",
      "description": "Банкрути"
    },
    {
      "name": "wanted",
      "description": "Розшук МВС і СБУ"
    },
    {
      "name": "corrupt",
      "description": "Корупціонери"
    },
    {
      "name": "user",
      "description": "Operations about user"
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "tags": ["pep"],
        "summary": "",
        "description": "Публічні особи",
        "operationId": "getPep",
        "parameters": [
          {
            "name": "tokken",
            "in": "query",
            "description": "Токен",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IDsubjectFM",
            "in": "query",
            "description": "ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Ім'я кирилецею",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namelat",
            "in": "query",
            "description": "Ім'я латинецею",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipn",
            "in": "query",
            "description": "Інн",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Дата",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "default": " "
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Приймає значення (1 - 2)",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "lowranklimit",
            "in": "query",
            "description": "Приймає значення від 0 до 100",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": { "description": "Успішна відповідь" },
          "4xx": {
            "description": "HTTP-статус з кодом в діапазоні 400-499 - сервіс CheckLists доступний, проте не може опрацювати ваш запит",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pep400"
                }
              }
            }
          },
          "5xx": {
            "description": "HTTP-статус з кодом в діапазоні 500-599 - сервіс CheckLists недоступний, або працює некоректно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pep500"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
      "type": "apiKey",
      "name": "tokken",
      "in": "query"
      }
    },
    "schemas": {
      "pep400": {
        "example": {
          "idinternal": "",
          "idsubjectFM": "finap_test",
          "iduserPC": "",
          "idrequest": "16440497",
          "dateResponse": "2023-11-22T12:00:22.238",
          "listdata": "7680",
          "search": "1",
          "responsetype": "5",
          "textformat": "",
          "result": {
            "peps": {
              "error1": "9001.Доступ до сервісу заборонений - Доступ до пошукового реєстру заборонений, так як він не входить в пакет послуг, які ви оплатили",
              "error3": "9003.Обробка запиту перевищує виділений для цього час. Уточніть запит – виникає коли обробка запиту до пошукового реєстру перевищує виділений для цього час",
              "error4": "9004.Відсутній зв'язок з базою даних сервісу - виникає коли сервіс, який обслуговує реєстр, доступний, проте відсутній зв'язок з базою даних реєстру"
            }
          }
        }
      },
      "pep500": {
        "example": {
          "idinternal": "",
          "idsubjectFM": "finap_test",
          "iduserPC": "",
          "idrequest": "16440497",
          "dateResponse": "2023-11-22T12:00:22.238",
          "listdata": "7680",
          "search": "1",
          "responsetype": "5",
          "textformat": "",
          "result": {
            "peps": {
              "error": "9000.Відсутній зв'язок з сервісом – Пошуковий реєстр не працює або сервіс немає зв’язку з ним"
            }
          }
        }
      }
    }
  }
}
