{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://finap.com.ua:9443",
      "description": "Основний"
    },
    {
      "url": "https://res1.finap.com.ua:9443",
      "description": "Резерв"
    },
    {
      "url": "https://res2.finap.com.ua:9443",
      "description": "Резерв"
    },
    {
      "url": "https://res3.finap.com.ua:9443",
      "description": "Резерв"
    }
  ],
  "security": [
    {
      "tokken": [], 
      "IDsubjectFM" : []
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "summary": "CheckLists",
        "description": "Повертає результат з реєстрів CheckLists",
        "parameters": [
          {
            "name": "listdata",
            "in": "query",
            "description": "Число, кожен біт якого при переведенні у двійковий формат визначає перелік баз (списків) у яких має здійснюватися пошук (або сума чисел, які відповідають пошуковим спискам)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Прізвище, ім'я, по-батькові або назва",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namelat",
            "in": "query",
            "description": "Прізвище, ім'я, по-батькові або назва у латиниці. За замовчуванням генерується із поля name за результатами роботи алгоритму транслітерації",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipn",
            "in": "query",
            "description": "Індивідуальний податковий номер фізичної особи - резидента (більшість реєстрів не містять даних про РНОКПП), або ЄДРПОУ юридичної особи резидента",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Дата народження фізичної особи у форматі “YYYY-MM-DD”",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "doc",
            "in": "query",
            "description": "Реквізити документа фізичної особи (національний пасторт, ID картка або паспорт для виїзду за кордон) у форматі серія і номер, або просто номер (якщо ID карта). Наявність або відсутність пробілу між серією і номером значення не має.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "doctype",
            "in": "query",
            "description": "Тип документу. Може приймати значення 1 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ в тому числі і ID карти), 2 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ ДЛЯ ВИЇЗДУ ЗА КОРДОН), 0 – обидва варіанти. За замовчуванням – 0",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Метод пошуку збігів по реєстрам (1 — повнотекстний (за замовчуванням), 2 — з корекцією помилок). За замовчуванням – 1",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "lowranklimit",
            "in": "query",
            "description": "Число, що визначає нижню межу співпадінь назви чи ПІБ у відсотках",
            "schema": {
              "type": "number",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успішна відповідь",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "response.json"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "CheckLists",
        "description": "Повертає результат з реєстрів CheckLists",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успішна відповідь",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "4XX": {
            "description": "Помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PostRequest": {
        "required": [
          "tokken",
          "IDsubjectFM"
        ],
        "type": "object",
        "properties": {
          "tokken" : {
            "description": "Унікальний ключ користувача суб’єкта ФМ (надається при реєстрації суб’єкта ФМ в ПК 'FinAP CheckLists'). Приходить на електронну пошту відповідальної особи",
            "type": "string"
          },
          "IDsubjectFM" : {
            "description": "ID суб’єкта ФМ (присвоюється при реєстрації суб’єкта ФМ в ПК 'FinAP CheckLists'). Приходить на електронну пошту відповідальної особи",
            "type": "string"
          },
          "listdata" :{
            "description": "Число, кожен біт якого при переведенні у двійковий формат визначає перелік баз (списків) у яких має здійснюватися пошук (або сума чисел, які відповідають пошуковим спискам).",
            "type": "number"
          },
          "name" : {
            "description": "Прізвище, ім'я, по-батькові або назва",
            "type": "string"
          },
          "namelat" : {
            "description": "Прізвище, ім'я, по-батькові або назва у латиниці. За замовчуванням генерується із поля name за результатами роботи алгоритму транслітерації",
            "type": "string"
          },
          "ipn" : {
            "description": "Індивідуальний податковий номер фізичної особи - резидента (більшість реєстрів не містять даних про РНОКПП), або ЄДРПОУ юридичної особи резидента",
            "type": "string"
          },
          "date" : {
            "description": "Дата народження фізичної особи у форматі “YYYY-MM-DD”",
            "type": "date"
          },
          "doc" : {
            "description": "Реквізити документа фізичної особи (національний пасторт, ID картка або паспорт для виїзду за кордон) у форматі серія і номер, або просто номер (якщо ID карта). Наявність або відсутність пробілу між серією і номером значення не має.",
            "type": "string"
          },
          "doctype" : {
            "description": "Тип документу. Може приймати значення 1 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ в тому числі і ID карти), 2 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ ДЛЯ ВИЇЗДУ ЗА КОРДОН), 0 – обидва варіанти. За замовчуванням – 0",
            "type": "number"
          },
          "search" : {
            "description": "Метод пошуку збігів по реєстрам (1 — повнотекстний (за замовчуванням), 2 — з корекцією помилок). За замовчуванням – 1",
            "type": "number"
          },
          "lowranklimit": {
            "description": "Число, що визначає нижню межу співпадінь назви чи ПІБ у відсотках",
            "type": "number"
          }
        }
      },
      "Success": {
        "$schema": "http://json-schema.org/draft-07/schema#",
        "$id": "https://check.finap.com.ua/apiinfo/schema/v1/RequestSchema.json",
        "type": "object",
        "title": "CheckLists Response",
        "description": "Схема відповіді на запит до сервісу CheckLists",
        "properties": {
            "idinternal": {
                "$id": "#/properties/idinternal",
                "type": "string",
                "title": "Внутрішній унікальний ID запиту",
                "description": "Внутрішній унікальний ID запиту,що генерується засобами внутрішнього програмного забезпечення суб'єкта ФМ"
            },
            "idsubjectFM": {
                "$id": "#/properties/idsubjectFM",
                "type": "string",
                "title": "Ідентифікаотр cуб'єкта фінансового моніторингу",
                "description": "ID cуб'єкта ФМ (просвоюється при реєстрації суб'єкта ФМ в ПК 'FinAP CheckLists')"
            },
            "iduserPC": {
                "$id": "#/properties/iduserPC",
                "type": "string",
                "title": "Ідентифікатор робочого місця cуб'єкта фінансового моніторингу",
                "description": "ID робочого місця cуб'єкта ФМ (просвоюється на стороні суб'єкта ФМ)"
            },
            "idrequest": {
                "$id": "#/properties/idrequest",
                "type": "string",
                "title": "Ідентифікатор запиту в системі ПК 'FinAP CheckLists'",
                "description": "Ідентифікатор запиту в системі ПК 'FinAP CheckLists' (генерується засобами Сервісу обробки запитів)"
            },
            "dateResponse": {
                "$id": "#/properties/dateResponse",
                "type": "string",
                "title": "Дата та час формування відповіді",
                "description": "Дата та час формування відповіді (генерується засобами Сервісу обробки запитів) у форматі 'YYYY-MM-DD hh:mm:ss'"
            },
            "listdata": {
                "$id": "#/properties/listdata",
                "type": "string",
                "title": "The listdata schema",
                "description": "Число, яке при приведенні у двійковий формат відображає у яких списках даних був здійснений пошук збігів, див. https://check.finap.com.ua/apiinfo/#paramListdata"
            },
            "search": {
                "$id": "#/properties/search",
                "type": "string",
                "title": "Метод пошуку",
                "description": "Метод пошуку (1 — повнотекстний, 2 — контекстний...)"
            },
            "responsetype": {
                "$id": "#/properties/responsetype",
                "type": "string",
                "title": "Тип відповіді",
                "description": "Тип відповіді (результату запиту): 1 — відповідь-дозвіл (true|false); 2 – узагальнений; 3 — скорочений; 5 — повний;"
            },
            "textformat": {
                "$id": "#/properties/textformat",
                "type": "string",
                "title": "Формат текстового поля для повного типу відповіді",
                "description": "Формат текстового поля для повного типу відповіді (responsetype=5), може набувати значення 'JSON' (або ' ', за замовчуванням), 'xml', 'html' і 'text'"
            },
            "result": {
                "$id": "#/properties/result",
                "type": "object",
                "title": "The result schema",
                "description": "Блок результатів обробки запит в реєстри CheckLists (див. https://check.finap.com.ua/apiinfo/#respon)",
                "properties": {
                    "peps": {
                        "$id": "#/properties/result/properties/peps",
                        "description": "Масив даних відповіді реєстру 'Публічні особи'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Публічні особи",
                        "type": [
                            "array",
                            "string"
                        ]
                    
                    },
                    "psanctions": {
                        "$id": "#/properties/result/properties/psanctions",
                        "description": "Масив даних відповіді реєстру 'Санкції та застереження'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Санкції та застереження",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "lostdocs": {
                        "$id": "#/properties/result/properties/lostdocs",
                        "description": "Масив даних відповіді реєстру 'Втрачені документи'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Втрачені/недійсні документи",
                        "type": [
                            "array",
                            "string"
                        ],
                        "items": {
                             "$id": "#items",
                             "anyOf": [
                                 {
                                     "$id": "#items/anyOf/0",
                                     "type": "object",
                                     "title": "The first anyOf schema",
                                     "description": "An explanation about the purpose of this instance.",
                                     "properties": {
                                         "ovd": {
                                             "$id": "#items/anyOf/0/properties/ovd",
                                             "type": "string",
                                             "title": "Підрозділ",
                                             "description": "Підрозділ, яким було внесено інформацію до реєстру втрачених/викрадених документів"
                                         },
                                         "d_SERIES": {
                                             "$id": "#items/anyOf/0/properties/d_SERIES",
                                             "type": "string",
                                             "title": "Серія",
                                             "description": "Серія документа"
                                         },
                                         "d_NUMBER": {
                                             "$id": "#items/anyOf/0/properties/d_NUMBER",
                                             "type": "string",
                                             "title": "Номер",
                                             "description": "Номер документа."
                                         },
                                         "d_TYPE": {
                                             "$id": "#items/anyOf/0/properties/d_TYPE",
                                             "type": "string",
                                             "title": "Тип",
                                             "description": "Тип документа, можливі значення:ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ,ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ ДЛЯ ВИЇЗДУ ЗА КОРДОН,ПОСВІДЧЕННЯ ЧЛЕНА ЕКІПАЖУ"
                                         },
                                         "d_STATUS": {
                                             "$id": "#items/anyOf/0/properties/d_STATUS",
                                             "type": "string",
                                             "title": "Статус",
                                             "description": "Статус документа, можливі значення:ВИЗНАНО НЕДІЙСНИМ,ВИКРАДЕНИЙ,ВТРАЧЕНО,ПАСПОРТ ПОМЕРЛОГО НЕ ЗДАНИЙ ДО ДМС,ВИЛУЧЕНО З ОЗНАКАМИ ПІДРОБКИ,ВЛАСНИК ДОКУМЕНТА РОЗШУКУЄТЬСЯ,ВІДІЗВАНИЙ,НЕ ВИЛУЧЕНО У ЗААРЕШТОВАНОГО"
                                         },
                                         "theft_DATA": {
                                             "$id": "#items/anyOf/0/properties/theft_DATA",
                                             "type": "string",
                                             "title": "Дата повідомлення",
                                             "description": "Дата повідомлення про втрату/викрадення"
                                         },
                                         "insert_DATE": {
                                             "$id": "#items/anyOf/0/properties/insert_DATE",
                                             "type": "string",
                                             "title": "Дата внесення до реєстру",
                                             "description": "Дата внесення до реєстру втрачених документів"
                                         },
                                         "id": {
                                             "$id": "#items/anyOf/0/properties/id",
                                             "type": "string",
                                             "title": "Ідентифікатор запису",
                                             "description": "Ідентифікатор запису про втрачений документ"
                                         }
                                     }
                                 }
                             ]
                        }

                    },
                    "edr": {
                        "$id": "#/properties/result/properties/edr",
                        "description": "Масив даних з реєстру 'Зв'язок з юридичною особою'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Зв'язок з юридичною особою",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "edrfullinfo": {
                        "$id": "#/properties/result/properties/edrfullinfo",
                        "description": "Масив даних по юридичній особі або ФОП з реєстру 'Інформація про ЮО і ФОП'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Інформація про ЮО і ФОП",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "edrchanges": {
                        "$id": "#/properties/result/properties/edrchanges",
                        "description": "Масив даних по змінах в юридичній особі з реєстру 'ЄДР ЮО і ФОП'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Зміни в юридичній особі",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "justice": {
                        "$id": "#/properties/result/properties/justice",
                        "description": "Масив даних відповіді з реєстру 'Судових рішень'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Судові рішення",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "licenses": {
                        "$id": "#/properties/result/properties/licenses",
                        "description": "Масив даних відповіді з реєстру 'Ліцензії'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Ліцензії",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "executive": {
                        "$id": "#/properties/result/properties/executive",
                        "description": "Масив даних відповіді з реєстру 'Виконавчі провадження'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Виконавчі провадження",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "taxdebtor": {
                        "$id": "#/properties/result/properties/taxdebtor",
                        "description": "Масив даних відповіді з реєстру 'Податкові боржники'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Податкові боржники",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "debtor": {
                        "$id": "#/properties/result/properties/debtor",
                        "description": "Масив даних відповіді з реєстру 'Боржники'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Боржники",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "okupant": {
                        "$id": "#/properties/result/properties/okupant",
                        "description": "Масив даних відповіді з реєстру 'Окупант'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Окупант",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "zrada": {
                        "$id": "#/properties/result/properties/zrada",
                        "description": "Масив даних відповіді з реєстру 'Зрадники'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Зрадники",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "nonrezedent": {
                        "$id": "#/properties/result/properties/nonrezedent",
                        "description": "Масив даних відповіді з реєстру 'Нерезеденти'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Нерезеденти",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "notarius": {
                        "$id": "#/properties/result/properties/notarius",
                        "description": "Масив даних відповіді з реєстру 'Нотаріуси'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Нотаріуси",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "bankrupt": {
                        "$id": "#/properties/result/properties/bankrupt",
                        "description": "Масив даних відповіді з реєстру 'Банкрути'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Банкрути",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "wanted": {
                        "$id": "#/properties/result/properties/wanted",
                        "description": "Масив даних відповіді з реєстру 'Розшук'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Розшук",
                        "type": [
                            "array",
                            "string"
                        ]
                    },
                    "corrupt": {
                        "$id": "#/properties/result/properties/corrupt",
                        "description": "Масив даних відповіді з реєстру 'Корупційні правопорушення'.У разі помилки звернення до реєстру, замість масиву повертається текст помилки. Якщо запит не надсилається в даний реєстр - даний блок буде відсутній.",
                        "title": "Корупційні правопорушення",
                        "type": [
                            "array",
                            "string"
                        ]
                    }
                }
            }
        }                
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "tokken": {
      "type": "apiKey",
      "name": "tokken",
      "description": "Унікальний ключ користувача суб’єкта ФМ (надається при реєстрації суб’єкта ФМ в ПК 'FinAP CheckLists'). Приходить на електронну пошту відповідальної особи",
      "in": "query"
      },
      "IDsubjectFM": {
      "type": "apiKey",
      "name": "IDsubjectFM",
      "description": "ID суб’єкта ФМ (присвоюється при реєстрації суб’єкта ФМ в ПК 'FinAP CheckLists'). Приходить на електронну пошту відповідальної особи",
      "in": "query"
      }      
    }
  }
}