{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://finap.com.ua:9443"
    }
  ],
  "security": [
    {
      "tokken": [], 
      "IDsubjectFM" : []
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "description": "Повертає результат з реєстрів CheckLists",
        "parameters": [
          {
            "name": "listdata",
            "in": "query",
            "description": "Число, кожен біт якого при переведенні у двійковий формат визначає перелік баз (списків) у яких має здійснюватися пошук (або сума чисел, які відповідають пошуковим спискам)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Прізвище, ім'я, по-батькові або назва",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namelat",
            "in": "query",
            "description": "Прізвище, ім'я, по-батькові або назва у латиниці. За замовчуванням генерується із поля name за результатами роботи алгоритму транслітерації",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipn",
            "in": "query",
            "description": "Індивідуальний податковий номер фізичної особи - резидента (більшість реєстрів не містять даних про РНОКПП), або ЄДРПОУ юридичної особи резидента",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Дата народження фізичної особи у форматі “YYYY-MM-DD”",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "doc",
            "in": "query",
            "description": "Реквізити документа фізичної особи (національний пасторт, ID картка або паспорт для виїзду за кордон) у форматі серія і номер, або просто номер (якщо ID карта). Наявність або відсутність пробілу між серією і номером значення не має.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "doctype",
            "in": "query",
            "description": "Тип документу. Може приймати значення 1 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ в тому числі і ID карти), 2 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ ДЛЯ ВИЇЗДУ ЗА КОРДОН), 0 – обидва варіанти. За замовчуванням – 0",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Метод пошуку збігів по реєстрам (1 — повнотекстний (за замовчуванням), 2 — з корекцією помилок). За замовчуванням – 1",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "lowranklimit",
            "in": "query",
            "description": "Число, що визначає нижню межу співпадінь назви чи ПІБ у відсотках",
            "schema": {
              "type": "number",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успішна відповідь",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Success"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Повертає результат з реєстрів CheckLists",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успішна відповідь",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "4XX": {
            "description": "Помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Post": {
        "required": [
          "tokken",
          "IDsubjectFM"
        ],
        "type": "object",
        "properties": {
          {
            "name": "IDsubjectFM",
            "description": "ID суб’єкта ФМ (присвоюється при реєстрації суб’єкта ФМ в ПК 'FinAP CheckLists'). Приходить на електронну пошту відповідальної особи",
            "type": "string"
          },
          {
            "name": "tokken",
            "description": "Унікальний ключ користувача суб’єкта ФМ (надається при реєстрації суб’єкта ФМ в ПК 'FinAP CheckLists'). Приходить на електронну пошту відповідальної особи",
            "type": "string"
          },
          {
            "name": "listdata",
            "description": "Число, кожен біт якого при переведенні у двійковий формат визначає перелік баз (списків) у яких має здійснюватися пошук (або сума чисел, які відповідають пошуковим спискам).",
            "type": "number"
          },
          {
            "name": "name",
            "description": "Прізвище, ім'я, по-батькові або назва",
            "type": "string"
          },
          {
            "name": "namelat",
            "description": "Прізвище, ім'я, по-батькові або назва у латиниці. За замовчуванням генерується із поля name за результатами роботи алгоритму транслітерації",
            "type": "string"
          },
          {
            "name": "ipn",
            "description": "Індивідуальний податковий номер фізичної особи - резидента (більшість реєстрів не містять даних про РНОКПП), або ЄДРПОУ юридичної особи резидента",
            "type": "string"
          },
          {
            "name": "date",
            "description": "Дата народження фізичної особи у форматі “YYYY-MM-DD”",
            "type": "date"
          },
          {
            "name": "doc",
            "description": "Реквізити документа фізичної особи (національний пасторт, ID картка або паспорт для виїзду за кордон) у форматі серія і номер, або просто номер (якщо ID карта). Наявність або відсутність пробілу між серією і номером значення не має.",
            "type": "string"
          },
          {
            "name": "doctype",
            "description": "Тип документу. Може приймати значення 1 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ в тому числі і ID карти), 2 (ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ ДЛЯ ВИЇЗДУ ЗА КОРДОН), 0 – обидва варіанти. За замовчуванням – 0",
            "type": "number"
          },
          {
            "name": "search",
            "description": "Метод пошуку збігів по реєстрам (1 — повнотекстний (за замовчуванням), 2 — з корекцією помилок). За замовчуванням – 1",
            "type": "number",
          },
          {
            "name": "lowranklimit",
            "description": "Число, що визначає нижню межу співпадінь назви чи ПІБ у відсотках",
            "type": "number",
          }
        }
      },
      "Success": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "tokken": {
      "type": "apiKey",
      "name": "tokken",
      "description": "Унікальний ключ користувача суб’єкта ФМ (надається при реєстрації суб’єкта ФМ в ПК 'FinAP CheckLists'). Приходить на електронну пошту відповідальної особи",
      "in": "query"
      },
      "IDsubjectFM": {
      "type": "apiKey",
      "name": "IDsubjectFM",
      "description": "ID суб’єкта ФМ (присвоюється при реєстрації суб’єкта ФМ в ПК 'FinAP CheckLists'). Приходить на електронну пошту відповідальної особи",
      "in": "query"
      }      
    }
  }
}